<div class="show_basic">
  <h2 class="center" style="font-size:1.75em;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">Help and advice on using MethodBox.  Click on a link below to view the help in the <%= link_to 'wiki', 'http://wiki.methodbox.org' -%></h2>
<div class="center">
<ul>
<li><%= link_to 'Introduction to MethodBox', 'http://wiki.methodbox.org/index.php/UsersGuides:Introduction' -%></li>
<li><%= link_to 'Registration and creating an account', 'http://wiki.methodbox.org/index.php/UsersGuides:Registration' -%></li>
<li><%= link_to 'Finding resources inside MethodBox', 'http://wiki.methodbox.org/indes.php/UsersGuides:Searching' -%></li>
<li><%= link_to 'Surveys, datasets and searching for variables', 'http://wiki.methodbox.org/index.php/UsersGuides:Surveys' -%></li>
<li><%= link_to 'Variables and adding them to your cart', 'http://wiki.methodbox.org/index.php/UsersGuides:Variables' -%></li>
<li><%= link_to 'Downloading variables and creating Data Extracts', 'http://wiki.methodbox.org/index.php/UsersGuides:DataExtracts' -%></li>
<li><%= link_to 'Your profile and editing it', 'http://wiki.methodbox.org/index.php/UsersGuides:Profile' -%></li>
<li><%= link_to 'Adding new survey data to MethodBox', 'http://wiki.methodbox.org/index.php/UsersGuides:Surveys:CreatingNewSurveys' -%></li>
<li><%= link_to 'Adding Methods and Scripts to MethodBox', 'http://wiki.methodbox.org/index.php/UsersGuides:MethodsAndScripts:CreatingNewMethodsAndScripts' -%></li>
<li><%= link_to 'Who can I share resources with?', 'http://wiki.methodbox.org/UsersGuides:Sharing' -%></li>
<li><%= link_to 'Can I share with selected people?', 'http://wiki.methodbox.org/UsersGuides:Groups' -%></li>
<li><%= link_to 'Linking resources together', 'http://wiki.methodbox.org/UsersGuides:Linking' -%></li>
</ul>
</div>
</div>

