<%# this should be set by the caller, this is an extra check -%>
<% resource=resource_list_item %>
<% odd_row ||= false -%>
<% narrow_view ||= false -%>

<table class="list_item">
  <tr class="<%= odd_row ? "odd_row" : "even_row" -%>">
  <td style="width: 125px;">
      <p style="margin-top:0; padding-top:0; text-align: center;"><b>Uploader:</b></p>
      <center><%= contributor(resource.asset.contributor, true, 60) -%></center>
    </td>
    <td style="text-align: left;">
      <p class="title">
      <%= icon "csvarchive", nil, nil, nil, '' -%>
      <% unless resource.description.blank? -%>
        <% title = h(resource.title) -%>
      <% else -%>
        <span class="none_text">No title</span>
      <% end -%>
      <%= link_to(title, csvarchive_path(resource)) -%>

      <%#*<p style="font-size:85%; margin-top: 0.3em; padding-top: 0;">%>
      <%#*<b>Associated project: </b>%>
      <%#= (resource.asset.project ? link_to(h(resource.asset.project.name), project_path(resource.asset.project.id)) : "<span class='none_text'>None</span>" ) -%>
      <%#*</p>%>

      <div class="desc" style="font-size: 85%;">
        <% unless resource.description.blank? -%>
          <%= truncate(white_list(resource.description), :length=>500) -%>
        <% else -%>
          <span class="none_text">No description</span>
        <% end -%>
      </div>
      <p style="font-size: 85%; margin-top: 0.4em;">
        <% if resource.complete -%>
<% if Authorization.is_authorized?("download", nil, resource, current_user) -%>          
<%= icon "download", download_csvarchive_path(resource) -%>
<% end %>
          <%#= icon('download', nil, nil, nil) -%>
          <%#*<a href="http://localhost:25000/eos/download/%>
          <%#= resource.filename %>
          <%#*">%>
          <%#*Download CSV file%>
          <%#*</a>%>
        <% elsif resource.failure %>
          <li><B STYLE="color:red;">Failed to create!</B></li>
          <%= button_to_remote "Recreate CSV archive", :url => {:controller => "csvarchives", :action => "recreate", :id => resource.id} %>
        <% else %>
          <li><B>Not yet available for download</B></li>
        <% end %>
      </p>
      <p style="font-size: 85%; margin-top: 0.4em;">
        <b>Created:</b>
        <%= resource.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
      </p>



      <p style="font-size:85%;">
        <b>Format: </b>
        <%= h(resource.content_type) -%>
      </p>
    </td>
    <td class="actions" style="width: 80px;">
      <%= icon "show", csvarchive_path(resource), nil, nil, "View" -%>
      <% if Authorization.is_authorized?("download", nil, resource, current_user) && resource.complete -%>
        <%= icon "download", download_csvarchive_path(resource) -%>
      <% end -%>
      <% if Authorization.is_authorized?("manage", nil, resource, current_user) -%>
        <%= icon "manage", edit_csvarchive_path(resource), nil, nil, "Manage" -%>
      <% elsif Authorization.is_authorized?("edit", nil, resource, current_user) -%>
        <%= icon "edit", edit_csvarchive_path(resource), nil, nil, "Edit" -%>
      <% end -%>
    </td>


  </tr>
</table>
