<%# if @archives.public_methods.include?("page_count") %>
<%#*<!-- only do the page links if the collection supports it -->%>
<%#= render :partial => "layouts/paginate", :locals => { :collection => @archives } -%>
<%# end %>
<% unless @all_archives.empty? %>
  <div class="tabber">
    <div id="my_archives_tab" class="tabbertab">
      <h3>
        My Data Extracts
      </h3>
      <% if @my_archives.public_methods.include?("page_count") -%>
        <!-- only do the page links if the collection supports it -->
        <%= render :partial => "csvarchives/paginate_my_archives", :locals => { :collection => @my_archives,:all_page=>@all_page } -%>
      <% end -%>
      <%= render :partial => "assets/resource_list", :locals => { :collection => @my_archives, :authorization_for_showing_already_done=>true } %>
      <% if @my_archives.public_methods.include?("page_count") -%>
        <!-- only do the page links if the collection supports it -->
        <%= render :partial => "csvarchives/paginate_my_archives", :locals => { :collection => @my_archives,:all_page=>@all_page } -%>
      <% end -%>
    </div>
    <div id="all_archives_tab" class="tabbertab">
      <h3>
        All Data Extracts
      </h3>
      <% if @all_archives.public_methods.include?("page_count") -%>
        <!-- only do the page links if the collection supports it -->
        <%= render :partial => "csvarchives/paginate_all_archives", :locals => { :collection => @all_archives,:my_page=>@my_page } -%>
      <% end -%>
      <%= render :partial => "assets/resource_list", :locals => { :collection => @all_archives, :authorization_for_showing_already_done=>true} %>
      <% if @all_archives.public_methods.include?("page_count") -%>
        <!-- only do the page links if the collection supports it -->
        <%= render :partial => "csvarchives/paginate_all_archives", :locals => { :collection => @all_archives,:my_page=>@my_page } -%>
      <% end -%>
    </div>
  </div>
  <%#= render :partial => "assets/resource_list", :locals => { :collection => @archives, :authorization_for_showing_already_done=>true, :mine=>false } %>
<% else %>
  <p>There are no CSV archives available to view.  To create one add <%= link_to "survey variables", surveys_path -%> to your cart and then create one from all or a subset of these variables</p>
<% end %>
<%# if @archives.public_methods.include?("page_count") %>
<%#*<!-- only do the page links if the collection supports it -->%>
<%#= render :partial => "layouts/paginate", :locals => { :collection => @archives } -%>
<%# end %>