<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>
<%= javascript_include_tag 'variable_table_check.js' %>
<%= javascript_include_tag 'checkbox_update.js' %>
<%= hidden_field_tag 'tag_button', 'tag' %>
<%= hidden_field_tag 'year_of_survey', 'survey_year' %>
<%= hidden_field_tag 'variable_name', 'variable_name' %>
<%= hidden_field_tag 'variable_identifier', 'variable_identifier' %>
<%= hidden_field_tag 'watch_variable', 'watch_variable' %>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});
</script>
<div class="show_basic" style="padding-right: 2em;">
	<% if !@archived_vars.empty? %>
	The following variables have been archived and have been removed from your cart:
	<% @archived_vars.each do |item| %>
		<%= link_to item.variable.name, variable_path(item.variable) -%>
		<% end -%>
		<br/>
		<% end -%>
  <% form_remote_tag :url => { :action => "remove_from_cart"} do -%>
<div id="cart_container">
	<% if !@sorted_variables.empty? -%>
    <%= hidden_field_tag 'submit', 'remove_variables' %>
  <%= render :partial => "table_buttons" -%>
    <br/>
    <br/>
    <div id="table_header" class="faux_table_header_container">
      <%= render :partial => "surveys/table_header",:locals=>{:sorted_variables => @sorted_variables} -%>
    </div>
    <div id="table_container" class="faux_table_container">
      <%= render :partial => "surveys/table",:locals=>{:sorted_variables => @sorted_variables,:lineage => true, :extract_lineage => false, :extract_id => nil} -%>
    </div>
	<% else -%>
  <%= render :partial => "no_variables" %>
	<% end -%>
  <% end -%>
<div style="clear:both">
<div class="medium-padding" id="cart_suggestions">
 <%= render :partial => "cart_suggestions", :locals=>{:sorted_matches => @sorted_matches} -%>
</div>
</div>
</div>
</div>
