<% person=item -%>
<% drag_id=model_to_drag_id person -%>

<% truncate_projects_institutions_length = 25 -%>
  <table class="list_item no_bg">
    <tr>
	<!-- in line style due to css cascade!  should FIXME-->
	<td style="text-align: center; vertical-align: middle;">
		<% person_name = h(person.name) -%>
        <% if person_name.blank? -%>
<span class='none_text'>Unknown</span>
        <% else -%>
<%= link_to(person_name, person_path(person)) -%>
<% end -%>
	</td>
	<!-- </tr> -->
	<!-- <tr> -->
      <td class="item_avatar" style="width: 100px">
        <% image_tag = avatar(person, 60, true) -%>
        <%#= link_to_draggable(image_tag, url_for(person), :id=>drag_id, :class=>"asset", :title=>tooltip_title_attrib(h(person.name))) -%>
      </td>
<tr>
<td colspan=2>
	<div class="box_standout" style="background-color:#FFFFFF">
      <%= truncate(text_or_not_specified(person.description, :description => true), :length=>300) %>
    </div>
</td>
</tr>
<% unless person.web_page.nil? or person.web_page.empty? or person.phone.nil? or person.phone.empty? or person.skype_name.nil? or person.skype_name.empty? %>
<tr>
	<td colspan=2>
    <% unless person.web_page.nil? or person.web_page.empty? %>
      <p class="web_page">
        <label>Web page:</label>
        <%= link_to h(person.web_page), h(person.web_page),:popup=>true %>
      </p>
    <% end  %>

    <% unless person.phone.nil? or person.phone.empty? %>
      <p class="phone">
        <label>Phone:</label>
        <%= h person.phone %>
      </p>
    <% end  %>

    <% unless person.skype_name.nil? or person.skype_name.empty? -%>
      <p class="skype_name">
        <label>Skype:</label>
        <%= h person.skype_name %>
      </p>
    <% end  %>
    <% if mine? person -%>
      <%= icon "edit", edit_person_path(person), nil, nil, "Edit" -%>
    <% end -%>
</td>
</tr>
<% end %>
<tr>
	<td colspan=2>
		  <p>
          <label>Expertise:</label>
          <% unless person.expertise.empty? -%>
            <%= list_item_tags_list person.expertise,:type=>:expertise %>
          <% else -%>
            <span class="none_text">Not known</span>
          <% end -%>
        </p>
	</td>
</tr>
</table>
