<% if logged_in? -%>
  <div class="sidebar-bg">
    <div class="sidebar">
      <ul class="vbuttons">
        <% if controller.action_name == "show" %>
          <% if !mine?(@person) -%>
            <li><%= icon "show", person_url(current_user.person), "View your profile", nil, "View your profile" %></li>
          <% end -%>
        <% end %>
        <% if controller.action_name != "show" %>
          <li><%= icon "show", person_url(current_user.person), "View your profile", nil, "View your profile" %></li>
        <% end %>
        <% if controller.action_name != "edit" %>
          <li><%= icon "edit", edit_person_url(current_user.person), "Edit your profile", nil, "Edit your profile" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
      <li><%= icon "show", surveys_url, "Browse by surveys", {:title=>"Look at the surveys using the tabular view and search them for variables"}, "Browse by surveys" %></li>
      <li><%= icon "show", facets_surveys_url, "Browse by facets", {:title=>"Select datasets to search for variables through a faceted view"}, "Browse by facets" %></li>
    </ul>
  </div>
</div>
<%= render :partial=>"help_sidebar" -%>
