<div id="link_tabs" class="yui-navset">
  <ul class="yui-nav">
    <li class="selected"><a href="#link_extract_tab" title="Links to Data Extracts"><em>Data Extracts</em></a></li>
    <li><a href="#link_survey_tab" title="Links to <%= SURVEY.pluralize -%>"><em><%= SURVEY.pluralize -%></em></a></li>
    <li><a href="#link_script_tab" title="Links to other Scripts and Methods"><em>Scripts</em></a></li>
    <li><a href="#link_publication_tab" title="Links to Publications"><em>Publications</em></a></li>
  </ul>
  <div class="yui-content actual_link_box">
    <div id="link_extract_tab"><%= render :partial=>"data_extract_links" -%></div>
    <div id="link_survey_tab"><%= render :partial=>"survey_links" -%></div>
    <div id="link_script_tab"><%= render :partial=>"script_links" -%></div>
    <div id="link_publication_tab"><%= render :partial=>"publication_links" -%></div>
  </div>
</div>

<% if logged_in? -%>
  <div class="link_box">
    <b>Show:</b>
    <%= link_to_remote "Only my links", :url=> show_links_scripts_path, :with=> "'link_state=mine&script_id=#{@script.id}'" %>, 
    <%= link_to_remote "All links", :url=> show_links_scripts_path, :with=> "'link_state=all&script_id=#{@script.id}'" %>
  </div>
<% end -%>
<script type="text/javascript">
   linkTabs = new YAHOO.widget.TabView("link_tabs", {orientation: "left"});
</script>
