<div class="sidebar-bg">
  <div class="sidebar">
    <%= render :partial=>controller.controller_name.downcase + "/search_bar" %>
    <ul class="vbuttons">
      <% if logged_in? -%>
        <li><%= icon "new", new_script_url, "Add a new method/script", nil, "Add a new method/script" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
      <li><%= icon "show", surveys_url, "Browse by surveys", {:title=>"Look at the surveys using the tabular view and search them for variables"}, "Browse by surveys" %></li>
      <li><%= icon "show", facets_surveys_url, "Browse by facets", {:title=>"Select datasets to search for variables through a faceted view"}, "Browse by facets" %></li>
    </ul>
  </div>
</div>
<%= render :partial=>"help_sidebar" -%>
