<%= render :partial => "buttons" -%>

<h1 class="contribution_title">Method/Script: <%= h (@script.title) -%><div class="inline" id="award"><%= render :partial => "recommendations/awards", :locals => { :count => @script.recommendations.size } %></div></h1>
<div class="yui-skin-sam">
  <div id="script_tabview" class="yui-navset">
    <ul class="yui-nav">
      <li class="selected"><a href="#script_tab_details" title="Details about <%=@script.title -%>"><em>Details</em></a></li>
      <li><a href="#script_tab_links" title="Links to other assets from <%=@script.title -%>"><em>Links</em></a></li>
      <% if logged_in? -%>
        <li><a href="#script_tab_comments" title="Notes and comments for <%=@script.title -%>"><em>Notes and Comments</em></a></li>
      <% end -%>
    </ul>
    <div class="yui-content">
      <div id="script_tab_details"><%= render :partial=>"details" -%></div>
      <div id="script_tab_links"><%= render :partial=>"links" -%></div>
      <% if logged_in? -%>
        <div id="script_tab_comments"><%= render :partial=>"comments" -%></div>
      <% end -%>
    </div>
  </div>
</div>
<script type="text/javascript">
   tabView = new YAHOO.widget.TabView("script_tabview");
</script>
