<%= list_item_title item %>

<%= list_item_attribute "PubMed ID", item.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{item.pubmed_id}", {:popup => true} unless item.pubmed_id.nil? %>

<%= list_item_attribute "DOI", item.doi, "http://dx.doi.org/#{item.doi}", {:popup => true} unless item.doi.nil? %>

<p class="list_item_attribute">
  <b>Author<%= item.asset.creators.size + item.non_seek_authors.size > 1 ? "s" : "" -%>:</b>
  <% if item.asset.creators.empty? && item.non_seek_authors.empty? %>
    <span class='none_text'>Not specified</span>
  <% else %>
    <% item.asset.creators.each do |author| %>
      <%= (link_to author.person.name, person_url(author.person)) + ((author == item.asset.creators.last) && (item.non_seek_authors.empty?) ? "" : ", ") %>
    <% end %>
  <% end %>
</p>

<%= list_item_expandable_text "Abstract", h(item.abstract) %>

<%= list_item_optional_attribute "Journal", h(item.journal) %>

<%= list_item_attribute "Date Published", item.published_date.strftime('%d/%m/%Y') %>