<% odd_row ||= false -%>
<% narrow_view ||= false -%>

<table class="list_item">
  <tr class="<%= odd_row ? "odd_row" : "even_row" -%>">

    <td style="text-align: left;">
      <p class="title">
        <%= icon "dataset", nil, nil, nil, '' -%>
        <%= link_to(item.name, dataset_path(item)) -%>
      </p>

      <div class="desc" style="font-size: 85%;">
        <% unless item.description.blank? -%>
          <%= truncate(white_list(item.description), :length=>500) -%>
        <% else -%>
          <span class="none_text">No description</span>
        <% end -%>
      </div>
      <p>
        <b>Parent <%= SURVEY -%>:</b>
        <%= link_to(h(Survey.find(item.survey_id).title), survey_path(Survey.find(item.survey_id))) -%>
      </p>
    </td>

    <td class="actions" style="width: 80px;">
      <%= icon "show", dataset_path(item), nil, nil, "View" -%>
<!-- Note: the survey is the model with the auth on it here, not the dataset -->
<% if Authorization.is_authorized?("manage", nil, item.survey, current_user) -%>
<%= icon "manage", edit_dataset_path(item), nil, nil, "Manage" -%>
<% elsif Authorization.is_authorized?("edit", nil, item.survey, current_user) -%>
<%= icon "edit", edit_dataset_path(item), nil, nil, "Edit" -%>
<% end -%>
    </td>

  </tr>
</table>
