<div class="right">
<div class="normal-margin-bottom">
<% if @dataset.nesstar_id && @dataset.nesstar_uri.include?("esds") -%>
<%= link_to(image_tag('esdslogo.gif', :size=>"100x50", :alt=>"View information about this " + DATASET + " on the Economic and Social Data Service website", :style=>"vertical-align: top;"), 'http://www.esds.ac.uk/findingData/snDescription.asp?sn=' + @dataset.nesstar_id.split('-')[0], {:confirm=> "This is a third party resource and has not been verified by MethodBox.", :title=>"View information about this dataset on the Economic and Social Data Service website"})-%>
<% end -%>
</div>
<ul class="buttons">
<% if Authorization.is_authorized?("edit", nil, @dataset.survey, current_user) || current_user && @dataset.survey.survey_type.is_ukda && current_user.is_admin? -%>
<li>
<%= icon('manage', edit_dataset_url(@dataset), nil, nil, 'Edit ' + DATASET + ' details') -%>
</li>
<li>
<%= icon('manage', update_data_dataset_url(@dataset), nil, nil, 'Upload variable data') -%>
</li>
<li>
<%= icon('manage', update_metadata_dataset_url(@dataset), nil, nil, 'Upload variable metadata') -%>
</li>
<% if !@dataset.nesstar_id -%>
<li>
<%= icon('download', download_dataset_url(@dataset), 'Download the complete ' + DATASET.downcase + ' with all variables', {:title => 'Download the complete ' + DATASET.downcase + ' with all variables'}, 'Download') -%>
</li>
<% end -%>
<% end -%>
</ul>
<ul>
<h1 class="contribution_title">Dataset: <%= h(@dataset.name) -%></h1>

<div class="show_basic">
  <div class="main_content_left_box">
	<%# @survey_search_query="Enter search terms" unless @survey_search_query -%>
	<% form_tag(:controller => "surveys", :action => "search_variables") do -%>
		<%= hidden_field_tag "entry_ids[]", @dataset.id.to_s -%>
	<div style="position: relative;background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;width:100%;height:60px;">
	  <div style="position: absolute; ;top:1em;left:1em"><%= text_field_tag :survey_search_query, @survey_search_query %>
				<%= image_tag(method_to_icon_filename("help"), :size => "25x25", :alt => "Search terms quick guide", :title=>"Search terms quick guide", :onclick => "showPopup('help_box'); return false;",:class=> "help_image") -%>
	    <%= submit_tag 'Search this ' + DATASET,:id => "search_button",:onclick => "if (!checkNotEmpty('survey_search_query')) {return false;} else {$('search_button').value='Searching for variables......';$('search_button').disable();$('search_button').form.submit();return true;}" %>
	  </div>
		  <% if logged_in? && !@recent_searches.empty? -%>
		  <div style="position: absolute; top:1em;left:30em">
			Recent searches:
		<%= select_tag 'recent searches' ,options_from_collection_for_select(@recent_searches, 'id', 'terms'), :onchange=>"javascript:$('survey_search_query').value = this.options[this.selectedIndex].text" -%>
		</div>
		<% end -%>
		<% end -%>
	</div>
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%=h @dataset.name -%></span>
      </p>
      <p>
        <b>Original Filename:</b>
        <span class="title"><%=h @dataset.filename -%></span>
      </p>
      <p>
      <p>
        <b>Parent <%= SURVEY -%>:</b>
        <%= link_to(h(Survey.find(@dataset.survey_id).title), survey_path(Survey.find(@dataset.survey_id))) -%>
      </p>
<% if @dataset.current_version -%>
      <p>
        <b>Revision:</b>
        <span class="title"><%=h @dataset.current_version -%></span>
      </p>
<% end -%>
<% if @dataset.current_version > 1 -%>
<p>
<b>Reason for update:</b>
        <span class="title"><%=h @dataset.reason_for_update -%></span>
</p>
<% end -%>
        <b>Description:</b>
        <% unless @dataset.description.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@dataset.description)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>

    </div>
<%= render :partial => 'subject_areas', :locals=>{:dataset=>@dataset} -%>
  </div>
</div>
