<%= javascript_include_tag 'variable_table_check.js' -%>
<%= javascript_include_tag 'server_paginated_variables_table.js' -%>
<h1 class="contribution_title"><%= DATASET -%>: <%= h(@dataset.name) -%></h1>
<div class="yui-skin-sam">
  <div id="datasets_tabview" class="yui-navset">
    <ul class="yui-nav">
      <li class="selected"><a href="#dataset_tab_details" title="Details about <%= DATASET -%> <%=@dataset.name -%>"><em>Details</em></a></li>
      <li><a href="#dataset_tab_variables" title="Variables from <%= DATASET -%> <%=@dataset.name -%>"><em>Variables</em></a></li>
	</ul>
	<div class="yui-content">
	  <div id="dataset_tab_details">
		<div class="show_basic">
		  <div>
			<div class="medium-padding">
			<div class="left center" style="width:20%;">
			<% form_tag(:controller => "surveys", :action => "search_variables") do -%>
				<%= hidden_field_tag "entry_ids[]", @dataset.id.to_s -%>
			<div>
			  <div><%= text_field_tag :survey_search_query, @survey_search_query %>
			    <%= submit_tag 'Search this ' + DATASET,:id => "search_button",:onclick => "if (!checkNotEmpty('survey_search_query')) {return false;} else {$('search_button').value='Searching for variables......';$('search_button').disable();$('search_button').form.submit();return true;}" %>
			  </div>
			</div>
			<% end -%>
			</div>
			<div class="right" style="width: 20%;">
			<div class="normal-margin-bottom">
			<% if @dataset.nesstar_id && @dataset.nesstar_uri.include?("esds") -%>
			<%= link_to(image_tag('esdslogo.gif', :size=>"100x50", :alt=>"View information about this " + DATASET + " on the Economic and Social Data Service website", :style=>"vertical-align: top;"), 'http://www.esds.ac.uk/findingData/snDescription.asp?sn=' + @dataset.nesstar_id.split('-')[0], {:confirm=> "This is a third party resource and has not been verified by MethodBox.", :title=>"View information about this dataset on the Economic and Social Data Service website"})-%>
			<% end -%>
			</div>
			</div>
			<div>
			<ul class="buttons">
			<% if Authorization.is_authorized?("edit", nil, @dataset.survey, current_user) || current_user && @dataset.survey.survey_type.is_ukda && current_user.is_admin? -%>
			<li>
			<%= icon('manage', edit_dataset_url(@dataset), nil, nil, 'Edit ' + DATASET + ' details') -%>
			</li>
			<% if !@dataset.nesstar_id %>
			<li>
			<%= icon('manage', update_data_dataset_url(@dataset), nil, nil, 'Upload variable data') -%>
			</li>
			<li>
			<%= icon('manage', update_metadata_dataset_url(@dataset), nil, nil, 'Upload variable metadata') -%>
			</li>
			<li>
			<%= icon('download', download_dataset_url(@dataset), 'Download the complete ' + DATASET.downcase + ' with all variables', {:title => 'Download the complete ' + DATASET.downcase + ' with all variables'}, 'Download') -%>
			</li>
			<% end -%>
			<% if Authorization.is_authorized?("edit", nil, @dataset.survey, current_user) || current_user && @dataset.survey.survey_type.is_ukda && current_user.is_admin? -%>
			<% if @dataset.nesstar_id %>
			<li>
			<%= icon('manage', update_metadata_nesstar_dataset_url(@dataset), nil, nil, 'Update metadata from nesstar') -%>
			</li>
			<% end -%>
			<% end -%>
			<% end -%>
			</ul>
			</div>
			</div>
			<div style="clear:both">
			</div>		    <div class="box_about_actor">
		      <p>
		        <b>Title:</b>
		        <span class="title"><%=h @dataset.name -%></span>
		      </p>
		      <p>
		        <b>Description:</b>
		        <% unless @dataset.description.blank? -%>
		        <div class="box_standout">
		          <%= simple_format(white_list(@dataset.description)) -%>
		        </div>
		      <% else -%>
		        <p class="none_text">
		          No description
		        </p>
		      <% end -%>
			      <p>
			        <b><%= SURVEY -%>:</b>
			        <%= link_to(h(Survey.find(@dataset.survey_id).title), survey_path(Survey.find(@dataset.survey_id))) -%>
			      </p>
			<!-- <%# if @dataset.current_version -%>
			      <p>
			        <b>Revision:</b>
			        <span class="title"><%#=h @dataset.current_version -%></span>
			      </p>
			<%# end -%> -->
			<!-- <%# if @dataset.current_version > 1 -%>
			<p>
			<b>Reason for update:</b>
			        <span class="title"><%#=h @dataset.reason_for_update -%></span>
			</p>
			<%# end -%> -->
		      </p>

		    </div>
		<%= render :partial => 'subject_areas', :locals=>{:dataset=>@dataset} -%>
		  </div>
		</div>
	  </div>
	  <div id="dataset_tab_variables">
		<% form_tag(search_variables_surveys_url, :method=>"get") do -%>
		<% if logged_in? -%>
		<%= submit_to_remote '_submit', 'Add selected variables to cart', {:url=>{:action=> "add_to_cart", :value=>"add"}, :before => "if (!anyVariablesSelected()) {alert('There are no variables selected to add to your cart.  Please select some and try again.'); return false;} else {Element.show('spinner')}",:success => "Element.hide('spinner')", :html => {:class => 'add_var_button'}} -%>
		<% end -%>
		<div id="selected_variables">
		</div>
		<div id="variables_table"></div>
		<% end -%>
	  </div>
	</div>
  </div>
</div>
<script type="text/javascript">
   tabView = new YAHOO.widget.TabView("datasets_tabview");
</script>
<script type="text/javascript">
var results = <%= raw @variables_json -%>;
createTable(<%= @dataset.id -%>);
</script>