<%= javascript_include_tag 'variable_table_check.js' -%>
<%= javascript_include_tag 'server_paginated_variables_table.js' -%>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});
</script>
<h1 class="contribution_title"><%= DATASET -%>: <%= h(@dataset.name) -%></h1>
<div class="yui-skin-sam">
  <div id="datasets_tabview" class="yui-navset">
    <ul class="yui-nav">
      <li class="selected"><a href="#dataset_tab_details" title="Details about <%= DATASET -%> <%=@dataset.name -%>"><em>Details</em></a></li>
      <li><a href="#dataset_tab_variables" title="Variables from <%= DATASET -%> <%=@dataset.name -%>"><em>Variables</em></a></li>
	</ul>
	<div class="yui-content">
	  <div id="dataset_tab_details">
            <%= render :partial=>"dataset_details_tab" -%>
	  </div>
	  <div id="dataset_tab_variables">
            <%= render :partial=>"dataset_variables_tab" -%>
	  </div>
	</div>
  </div>
</div>
<script type="text/javascript">
   tabView = new YAHOO.widget.TabView("datasets_tabview");
</script>
<script type="text/javascript">
var results = <%= raw @variables_json -%>;
createTable(<%= @dataset.id -%>);
</script>
