<%# this should be set by the caller, this is an extra check -%>
<% odd_row ||= false -%>
<% narrow_view ||= false -%>

<table class="list_item">
	<tr>
		<td colspan=2>
			<p class="title center">
			      <% unless item.title.blank? -%>
			        <% title = h(item.title) -%>
			      <% else -%>
			        <span class="none_text">No title</span>
			      <% end -%>
			      <%= link_to(title, script_path(item)) -%>
			</p>
		</td>
	</tr>
  <tr>
    <td rowspan=2>
      <center><%= contributor(item.asset.contributor, true, 60) -%></center>
	</td>
	<td>
		<p style="font-size: 85%; margin-top: 0.4em;">
        <b>Created:</b>
        <%= item.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
      </p>
	</td>
	</tr>
	<tr>
			<td>
				<% if Authorization.is_authorized?("download", nil, item, current_user) -%>
		          <%= icon "download", download_csvarchive_path(item) -%>
		        <% end %>
		<% if Authorization.is_authorized?("view", nil, item, current_user) -%>
		     <%= icon "show", csvarchive_path(item), nil, nil, "View" -%>
			<% end %>
		      <% if Authorization.is_authorized?("manage", nil, item, current_user) -%>
		        <%= icon "manage", edit_csvarchive_path(item), nil, nil, "Manage" -%>
		      <% elsif Authorization.is_authorized?("edit", nil, item, current_user) -%>
		        <%= icon "edit", edit_csvarchive_path(item), nil, nil, "Edit" -%>
		      <% end -%>
			</td>
	</tr>
	<tr>
		<td colspan=2>
		<div class="desc" style="font-size: 85%;">
        <% unless item.description.blank? -%>
          <%= truncate(white_list(item.description), :length=>500) -%>
        <% else -%>
          <span class="none_text">No description</span>
        <% end -%>
      </div>
		</td>
	</tr>
</table>