<h3>MethodBox Registration Request</h3>

<p>Hi <%= @name %>,</p>

<p>Thank you for registering with MethodBox.

You have registered for MethodBox using your UK federation credentials.  You have provided us with email address <%= @username %> and you are <%= @name %>.

If you did not create this account, or the above details are incorrect, then DO NOT activate the account and instead contact one of the MethodBox administrators named below:
<ul>
<% for admin in @admins -%>
  <li><%= "#{h admin.name}: " %><%= admin.email %></li>
<% end -%>
</ul>
<p>

<p>To confirm your email address and activate your account, please follow the link below (you might need to copy/paste it into your browser):

<%= activate_url(:activation_code=>@activation_code, :host=>@host) %></p>

<p>- The MethodBox Team</p>

<%= render :partial "disclaimer" -%>