<ul class="buttons">
  <%= hidden_field_tag "format_type", "csv" -%>
	<% if current_user && current_user.id != @archive.contributor_id %>
	<div id="recommended" style="display: inline;">
		<% if @recommended == true %>
			<%= render :partial => "recommendations/thumbs_down", :locals => {:item => @archive} -%>
	<% else %>
		<%= render :partial => "recommendations/thumbs_up", :locals => {:item => @archive} -%>
	<% end %>
	</div>
	<% end %>
	<% if !@archive.nesstar_only %>
	    <li><%= icon('download', download_stats_script_csvarchive_url + "?type=spss", nil, {:title => "Download all the scripts to load the data into your stats package.  You will need to supply the data yourself."}, "Download spss files") -%></li>
	    <li><%= icon('download', download_stats_script_csvarchive_url + "?type=stata", nil, {:title => "Download all the scripts to load the data into your stats package.  You will need to supply the data yourself."}, "Download stata files") -%></li>
	<% else %>
	<div class="normal-margin-bottom">This extract only contains variables from an external Nesstar catalogue</div>
	<% end %>
  <% if Authorization.is_authorized?("download", nil, @archive, current_user) -%>
<% if @archive.contains_nesstar_variables %>
<li><%= link_to_function 'Download datasets from Nesstar', "var answer = confirm('The Nesstar downloads will open in a new window. You are downloading from a third party, MethodBox is not responsible for the content.');if (answer){downloadFromNesstar(#{array_or_string_for_javascript(@download_uri_strings)})}" -%></li>
<% end %>
	<% if !@archive.nesstar_only %>
    <li><%= icon('download', download_csvarchive_url + "?type=CSV", "Download file", {:id=>"download_button", :title => "Download the data, metadata and any stats package scripts."}, "Download extract as:") -%></li>
  <%= select_tag :download_type, options_for_select(download_type_options,"CSV"), {:onchange=>"changeURL(this.value)"} -%>
<% end %>
  <% end -%>
</ul>
<div class="normal-margin-top">
<ul class="buttons">  <% if Authorization.is_authorized?("edit", nil, @archive, current_user) -%>
    <li><%= icon "edit", edit_csvarchive_path(@archive), nil, nil, "Edit" -%></li>
  <% end %>
  <% if Authorization.is_authorized?("destroy", nil, @archive, current_user) -%>
    <li><%= icon('destroy', csvarchive_path(@archive), nil, { :confirm => 'This deletes the Data Extract and links to any methods/scripts and surveys. Are you sure?', :method => :delete }, 'Delete Data Extract') -%></li>
  <% end -%>
</ul>
</div>
