<%= javascript_include_tag 'toggler.js' %>
<%= javascript_include_tag "variable_table_check.js" -%>
<%= javascript_include_tag 'checkbox_update.js' %>
<%= javascript_include_tag 'variables_table.js' -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});
</script>
<style type="text/css">
/** 
*
* Style the yui-dt-expandablerow-trigger column 
*
**/
.yui-dt-expandablerow-trigger a {
	display:block;
	padding:20px 5px 0;
	cursor:pointer;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger a{
	background:url('/images/yui/dt-arrow-up.png') 0 6px no-repeat;
}
.yui-dt-expandablerow-trigger a, .yui-dt-collapsed .yui-dt-expandablerow-trigger a {
	background:url('/images/yui/dt-arrow-dn.png') 0 4px no-repeat;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger.spinner a {
	background:url('/images/yui/spinner.gif') 0 4px no-repeat;
	padding-right: 10px;
}
</style>
<%= render :partial => "buttons" -%>
<h1 class="contribution_title">Data Extract: <%= link_to(h(@archive.title), csvarchive_path(@archive)) -%><div class="inline" id="award"><%= render :partial => "recommendations/awards", :locals => { :count => @archive.recommendations.size } %></div></h1>
<div class="yui-skin-sam">
  <div id="extract_tabview" class="yui-navset">
    <ul class="yui-nav">
      <li class="selected"><a href="#extract_tab_details" title="Details about <%=@archive.title -%>"><em>Details</em></a></li>
      <li><a href="#extract_tab_variables" title="List of variables contained in <%=@archive.title -%>"><em>Variables</em></a></li>
      <li><a href="#extract_tab_links" title="Links to other assets from <%=@archive.title -%>"><em>Links</em></a></li>
      <% if logged_in? -%>
        <li><a href="#extract_tab_comments" title="Notes and comments for <%=@archive.title -%>"><em>Notes and Comments</em></a></li>
      <% end -%>
    </ul>
    <div class="yui-content">
      <div id="extract_tab_details"><%= render :partial=>"details" -%></div>
      <div id="extract_tab_variables"><%= render :partial=>"variables" -%></div>
      <div id="extract_tab_links"><%= render :partial=>"links" -%></div>
      <% if logged_in? -%>
        <div id="extract_tab_comments"><%= render :partial=>"comments" -%></div>
      <% end -%>
    </div>
  </div>
</div>


<script type="text/javascript">
  function changeURL(value) {
    URL = document.getElementById("download_button").href;
    URL = "<%= download_csvarchive_url -%>" + "?type=" + value;
    document.getElementById("download_button").href = URL;
  }
</script>
<script type="text/javascript">
   tabView = new YAHOO.widget.TabView("extract_tabview");
</script>
