<h1><%= render :partial=>"layouts/sandbox_warning" %></h1>
<h2>
	Please provide your details (<font style="color: #FF0000;">*</font> <font style="font-size: small;"> compulsory field)</font>
</h2>
<%= error_messages_for(:user) %>
<div id="signup" style="float:right; width: 40%; margin: 1em;">

  <p><b>Sign me up</b></p>  <p>I want to share <b>knowledge</b> and <b>expertise</b> with other MethodBox users</p>

  <p class="box_infotext">
    <b>By registering, you are indicating that:</b>
    <br/>
    <b>You have registered with <a href="http://www.esds.ac.uk/">ESDS</a> and are allowed to use the datasets they provide</b>
    <br/>
    You are responsible for any content that you upload. We receive and store certain types of information whenever you
    interact with us which we will use only for operational purposes. We will not make
    personally identifiable data available to third parties without consent.
    Please contact us if you have any queries about our terms or our privacy policy.
    <br/><br/>
    If you have previously registered but suspended/deleted your account and wish to re-claim your old 'assets then <%= link_to("click_here" , unsuspend_users_url) -%>.
  </p>
</div>    

<div style="width:50%; margin: 1em; float: left;">
  <% form_tag(:controller=>'users', :action=>'create') do -%>
	
    <table style="width: 100%;">
      <tr>
        <td style="width: 50%;">
          <div style="width: 90%;">
            <fieldset>
              <legend>Email Address</legend>
              <p>
                <%= label :email, "Your email address" %><font style="color: #FF0000;">*</font><br />
                <%= text_field(:user, :email, :style => "width: 100%;") %>
              </p>
              <p>
                <%= label :email_confirmation, "Confirm your email address" %><font style="color: #FF0000;">*</font><br />
                <%= text_field(:user, :email_confirmation, :style => "width: 100%;") %>
              </p>
            </fieldset>
            <fieldset>
              <legend>Password</legend>
              <p>
                <%= label :password, "Password (should contain a minimum of 4 characters)" %><font style="color: #FF0000;">*</font><br/>
                <%= password_field(:user, :password, :style => "width: 100%;") %>
              </p>
              <p>
                <%= label :password_confirmation, "Confirm your password" %><font style="color: #FF0000;">*</font><br/>
                <%= password_field(:user, :password_confirmation, :style => "width: 100%;") %>
              </p>
            </fieldset>
            <fieldset>
              <legend>About you</legend>
              <p>
                <%= label :first_name, "First name" -%><font style="color: #FF0000;">*</font><br/>
                <%= text_field(:person, :first_name, :style => "width: 100%;") -%>
              </p>
              <p>
                <%= label :last_name, "Last name" %><font style="color: #FF0000;">*</font><br/>
                <%= text_field(:person, :last_name, :style => "width: 100%;") %>
              </p>
              <p>  
                <%= label :description, "Description" %><br/>
                <%= text_area(:person, :description, :class=>"description", :rows => 8, :style => "width: 100%;") -%>
              </p>
            </fieldset>
            <fieldset>
              <legend>Notifications</legend>
              <p>
                <%= check_box('person','send_notifications') %>
                <%= label :send_notifications, "I would like to receive email notifications" %>
              </p>
              <div class="box_info_standout" style="margin-top: 0.6em; font-size: 93%;">
                By ticking this box you agree to receiving emails from us.
                This may be announcements, maintenance notices and so on.
                This will also include email notifications when other users message you.
                Your email address is private and will not be available to other users and
                will not be passed on to any third parties.
              </div>
            </fieldset>
          </div>
        </td>
      </tr>
    </table>
    <p style="text-align: center;">
      <%= submit_tag 'Register' %>
    </p>
  <% end -%>  
</div>  
<div style="clear:both;">
</div>
<!-- </center> -->
