<div class="left">
<p style="text-align: center;">
  <%= link_to image_tag("logomanchester.gif", :alt=>"The University of Manchester",:title=>"The University of Manchester",:height => 70), 'http://www.manchester.ac.uk/' %>
</p>
<p class="copyright">Copyright (c) 2008 - 2010</p>
</div>
<div class="right" style="border: none;">
<p style="text-align: center;">The MethodBox/Obesity eLab project is funded by the <%= link_to 'ESRC', 'http://www.esrc.ac.uk/', :title=> 'Economic and Social Research Council' -%> 
	</p>
	<p style="text-align: center;">	<%= link_to image_tag("esrc_logo.gif",:alt=>"www.esrc.ac.uk",:title=>"Economic and Social Research Council",:height=>70), 'http://www.esrc.ac.uk/' -%>
		</p>
	</div>
<div>
	<p style="text-align: center;"><%= link_to image_tag("obelab.png", :alt=>"Part of the Obesity eLab project",:title=>"MethodBox is part of the Obesity eLab project",:height => 70, :class=>'image-margin-right'), 'https://www.nibhi.org.uk/obesityelab/default.aspx' %><%= link_to image_tag("dsrlogo.png",:alt=>"Digital Social Research",:title=>"Harnessing advances in digital technology and practice to achieve world-class social research with maximum impact",:height=>70), 'http://www.digitalsocialresearch.net/wordpress/' -%>
	</p>
	<p class="copyright">MethodBox source available on <%= link_to "google code", 'http://code.google.com/p/methodbox' -%></p>
</div>

