<% if logged_in? && !current_user.person.nil? %>
  <div style="background:#ACCBE0;">
      <%#*<div style="background:#1B619B; height:24px;">%>
    <ul class="tabnav" style="margin-left:165px;">

      <!-- People tab -->
      <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
        <%= link_to "People", people_url, :title=> "Who's who in the method box?"-%>
      </li>

      <!-- Projects tab -->
      <%#*<li%>
<%#= (["projects"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>
      <%#*>%>
        <%#= link_to "Projects", projects_url -%>
      <%#*</li>%>

      <!-- Methods tab -->
      <li <%= (["scripts"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Methods & Scripts", scripts_url,:title=>"Advice and scripts for data cleaning and statistical analysis"-%>
      </li>

      <!-- Surveys tab -->
      <li <%= (["surveys"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Data Sources", surveys_url, :title=>"Archived surveys and other sources of data for research" -%>
      </li>

      <!-- Archives tab -->
      <li <%= (["csvarchives"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Data Extracts", csvarchives_url,:title=>"Data extracts created by users from the source data" -%>
      </li>

    </ul>
  </div>
     <div style="background:#1B619B;height:25px;background-image: url(images/searchbar-flare.png);background-position: center;background-repeat: no-repeat;">
  </div>
<% end  %>
