  <% if logged_in? && !current_user.person.nil? -%>
<div>
  <ul class="tabnav">

    <!-- People tab -->
      <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') -%>>
        <%= link_to "People", people_url, :title=> "Who's who in the method box?"%>
      </li>

    <!-- Methods tab -->
      <li <%= (["scripts"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') -%> >
        <%= link_to "Methods & Scripts", scripts_url,:title=>"Advice and scripts for data cleaning and statistical analysis"%>
      </li>

    <!-- Surveys tab -->
      <li <%= (["surveys"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') -%> >
        <%= link_to "Data Sources", surveys_url, :title=>"Archived surveys and other sources of data for research" %>
      </li>

    <!-- Archives tab -->
      <li <%= (["csvarchives"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') -%> >
        <%= link_to "Data Extracts", csvarchives_url,:title=>"Data extracts created by users from the source data" %>
      </li>

      <!-- Work Groups tab -->
      <li <%= (["work_groups"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Groups", work_groups_url,:title=>"Create groups to share things with" -%>
      </li>

    <!-- Forums tab -->
      <li <%= (["forums"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Forums", forums_url,:title=>"Ask questions, help others" -%>
      </li>
	
  </ul>
</div>
<% end -%>