<div style="background:#ACCBE0;">
  <%#*<div style="background:#1B619B; height:24px;">%>
  <ul class="tabnav">
  <% if logged_in? && !current_user.person.nil? %>

    <!-- People tab -->
      <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
        <%= link_to "People", people_url, :title=> "Who's who in the method box?"-%>
      </li>

    <!-- Projects tab -->
      <%#*<li%>
        <%#= (["projects"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>
        <%#*>%>
        <%#= link_to "Projects", projects_url -%>
      <%#*</li>%>

    <!-- Methods tab -->
      <li <%= (["scripts"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Methods & Scripts", scripts_url,:title=>"Advice and scripts for data cleaning and statistical analysis"-%>
      </li>

    <!-- Surveys tab -->
      <li <%= (["surveys"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Data Sources", surveys_url, :title=>"Archived surveys and other sources of data for research" -%>
      </li>

    <!-- Archives tab -->
      <li <%= (["csvarchives"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Data Extracts", csvarchives_url,:title=>"Data extracts created by users from the source data" -%>
      </li>

    <!-- Forums tab -->
      <li <%= (["forums"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Forums", forums_url,:title=>"Ask questions, help others" -%>
      </li>
	
    <!-- Admin tab -->
      <% if current_user.is_admin? %>
        <li <%= (["admin"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
          <%= link_to "Admin", :controller => "admin", :action => "show", :title=>"Access the administration pages" -%>
        </li>
      <% end %> 
  <% else %>
    <!-- Login tab -->
      <li <%= (["sessions"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Log In", :controller => "session", :action => "new", :title=>"Log in to start using Methodbox" -%>
      </li>
    <!-- About tab -->
      <li <%= (["about"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "About Us", :controller => "about", :action => "index", :title=>"TODO" -%>
      </li>
  <% end  %>

    
  <!-- Help tab -->
    <li <%= (["help"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
      <%= link_to "Help", help_index_url,:title=>"Get some help and get started" -%>
    </li>

  </ul>
</div>
<div style="background:#1B619B;height:25px;">
</div>
