<!-- TODO Style cleanup -->
<!-- TODO allignment -->
<table>
  <% if variable.number_of_unique_entries -%>
    <tr>
      <td>Number of unique Entries</td>
      <td><%= variable.number_of_unique_entries -%></td>
    </tr>  
  <% end -%>  
  <% if variable.number_of_unique_values -%>
    <tr>
      <td>Number of unique Values</td>
      <td><%= variable.number_of_unique_values -%></td>
    </tr>  
  <% end -%>  
  <% if variable.number_of_blank_rows && variable.number_of_blank_rows > 0 -%>
    <tr>
      <td>Number of blank rows:</td>
      <td><%= variable.number_of_blank_rows -%></td>
    </tr>  
  <% end -%>  
  <% if variable.mean -%>
    <tr>
      <td>Average (Mean)</td>
      <td><%= variable.mean -%></td>
    </tr>  
  <% end -%>  
  <% if variable.mode -%>
    <tr>
      <td>Mode</td>
      <td><%= variable.mode -%></td>
    </tr>  
  <% end -%>  
  <% if variable.medium -%>
    <tr>
      <td>Medium</td>
      <td><%= variable.medium -%></td>
    </tr>  
  <% end -%>  
  <% if variable.standard_deviation -%>
    <tr>
       <td>Standard Deviation</td>
       <td><%= variable.standard_deviation -%></td>
    </tr>  
  <% end -%>  
  <% if variable.min_value -%>
    <tr>
      <td>Minimum Value</td>
      <td><%= variable.min_value -%></td>
    </tr>  
  <% end -%>  
  <% if variable.max_value -%>
    <tr>
      <td>Max Value</td>
      <td><%= variable.max_value -%></td>
    </tr>
  <% end -%>  
</table>
