<!-- TODO Style cleanup -->
<!-- TODO alignment -->
<!-- Create the data for the stats table -->
<!-- TODO use the ValueDomainStatistic model for all the surveys -->
<!-- TODO push the var stats on file into the valid/invalid entries column-->

<% if variable.nesstar_id -%>
	<% value_domain_hash = Hash.new %>
	<% var_hash = Hash.new %>
		<% variable.value_domains.each do |value_domain| -%>
			<% var_hash[value_domain.id] = value_domain.value_domain_statistic -%>
			<% value_domain_hash[value_domain.id] = value_domain.label %>
		<% end -%>
	<%= valid_entries = variable.valid_entries -%>
	<%= invalid_entries = variable.invalid_entries -%>
	<% total_entries = invalid_entries + valid_entries -%>
<% else -%>
<% no_var_hash = variable.none_values_hash -%> 
<% var_hash = variable.values_hash -%>
<% value_domain_hash = Hash.new %>
<% var_hash.each_key do |key| %>
	<% variable.value_domains.each do |value_domain| %>
		<% if value_domain.value.to_i.eql?(key.to_i) %> 
			<% value_domain_hash[key] = value_domain.label %>
			<% break %>
		<% end %>
	<% end %>
<% end %>
<% no_var_hash.each_key do |key| %>
	<% variable.value_domains.each do |value_domain| %>
		<% if value_domain.value.to_i.eql?(key.to_i) %> 
			<% value_domain_hash[key] = value_domain.label %>
			<% break %>
		<% end %>
	<% end %>
<% end %>
<% invalid_entries = variable.number_of_blank_rows -%>
<% valid_entries = 0 -%>
<% var_hash.each_key do |key| -%>
	<% valid_entries += var_hash[key] -%>
<% end -%>
<% no_var_hash.each_key do |key| -%>
	<% valid_entries += var_hash[key] -%>
<% end -%>
<% total_entries = invalid_entries + valid_entries -%>
<% if variable.number_of_blank_rows != nil -%>
	<% total_entries += variable.number_of_blank_rows -%>
<% end -%>
<!-- If there are no values then see if the value domains have any frequency stats - relevant to vars from nesstar ddi datasets -->
<% if var_hash.empty? %>
	<% variable.value_domains.each do |value_domain| %>
		<% if value_domain.value_domain_statistic %>
			<% var_hash[value_domain.value] = value_domain.value_domain_statistic.frequency -%>
			<% value_domain_hash[value_domain.value] = value_domain.label %>
		<% end %>
	<% end %>
<% end %>
<% end -%>

<% if variable.interval && variable.interval == 'contin' || variable.number_of_unique_values > 20 -%>
<!-- histogram -->
<div class="gviz-chart" id="frequency_count_chart_div"></div>
<script type="text/javascript">
google.load('visualization', '1', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
		var hash_size = <%=var_hash.size %>
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							              <% end -%>

        var chart = new google.visualization.ColumnChart($('frequency_count_chart_div'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
}
</script>
<table>
<thead>
</thead>
<tbody>
<tr><td>Mean</td><td><%= variable.mean -%></td></tr>
<tr><td>Median</td><td><%= variable.median -%></td></tr>
<tr><td>Missing</td><td><%= variable.nesstar_id ? variable.invalid_entries : variable.number_of_blank_rows -%></td></tr>
</tbody>
</table>
<% else -%>
<!-- side on bar chart-->
<div class="gviz-chart" id="frequency_count_chart_div"></div>
<script type="text/javascript">
google.load('visualization', '1', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
		var hash_size = <%=var_hash.size %>
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							              <% end -%>

        var chart = new google.visualization.BarChart($('frequency_count_chart_div'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
}
</script>
<% end -%>
<table>
<thead>
<th><tr><td>Value Name</td><td>Number of entries</td<td>Percentage of total</td></tr></th>
</thead>
<tbody>
<tr><td colspan="3">Total Records = <%= invalid_entries + valid_entries -%></td></tr>
<% var_hash.each_key do |key| -%>
	<tr><td><%= value_domain_hash[key] -%></td><td><%= var_hash[key] -%></td><td><%= (var_hash[key].to_f/total_entries.to_f * 100).round(2) -%>%</td></tr>
<% end -%>  
</tbody>
</table>
