<%#= javascript_include_tag 'https://www.google.com/jsapi' -%>
<div class="right">
<%= addthis_bookmark_button(variable_url(@variable), @variable.name + " from " + @variable.dataset.name, :secure => HTTPS_ON) -%>
</div>
<ul class="buttons">
  <%# if !Person.find(current_user.person_id).watched_variables.any?{|var| var.variable_id == @variable.id} %>
    <!-- <li> -->
<%#= icon('watch', watch_variable_path(@variable), nil, nil, 'Watch variable') -%>
<!-- </li> -->
  <%# else %>
    <!-- <li> -->
<%#= icon('stopwatch', watch_variable_path(@variable), nil, nil, 'Stop watching variable') -%>
<!-- </li> -->

  <%# end %>
  <!-- <li> -->
<%#= icon('edit', edit_variable_path(@variable), "Edit Variable", nil, 'Edit Variable') -%>
<!-- </li> -->
<% if logged_in? && !@variable.is_archived? -%>
  <li><%= icon('add_to_cart', add_to_cart_variable_path(@variable), "Add Variable to Cart", {:method => :post}, 'Add Variable to Cart') -%></li>
<% end -%>
</ul>
<% if @variable.is_archived? %>
<h1 style="background-color: red;">THIS VARIABLE HAS BEEN ARCHIVED</h1>
	<p><b>Archived by:
		<div class="box_standout">
          <%= link_to User.find(@variable.archived_by).person.name, person_path(User.find(@variable.archived_by).person) -%> on <%= h @variable.archived_on.strftime('%d/%m/%Y @ %H:%M:%S') -%>
        </div>
</p>
<br/>
		<p><b>Reason:
					        <% unless @variable.archived_reason.blank? -%>
			<div class="box_standout">
				<%= @variable.archived_reason -%>
				</div>
				<% else %>
				<p class="none_text">
		          No reason given
		        </p>
				<% end %>
		</p>
	<% end -%>
<h1 class="contribution_title">Variable: <%= link_to(h(@variable.name), variable_path(@variable)) -%></h1>
<div class="show_basic">
  <!-- <div class="main_content_left_box"> -->
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%=h @variable.name -%></span>
      </p>
      <br/>

      <p>
        <b>Description:</b>
        <% unless @variable.value.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.value)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>
      <p>
        <b>Documentation:</b>
        <% unless @variable.document.blank? -%>
        <div class="box_standout">
          <%= link_to(@variable.document + ", page " + @variable.page, open_pdf_variable_url(@variable) + "#page=" + @variable.page,:title=>"Open the PDF document with information about this variable") -%>
        </div>
      <% else -%>
        <p class="none_text">
          No documentation listed
        </p>
      <% end -%>
      </p>

      <p>
        <b>Category:</b>
        <% unless @variable.category.blank? -%>
        <div class="box_standout">
          <%= link_to(@variable.category, by_category_variables_url(:category=>@variable.category),:title=>"Show all variables with this category") -%>
        </div>
      <% else -%>
        <p class="none_text">
          No category
        </p>
      <% end -%>
      </p>
      <p>
        <b>Variable source:</b>
        <% unless @variable.dertype.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dertype)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No source
        </p>
      <% end -%>
      </p>
      <p>
        <b>Derivation method:</b>
        <% unless @variable.dermethod.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dermethod)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No method
        </p>
      <% end -%>
      </p>
      <p>
        <b>Allowed values:</b>
        <% if !@variable.info.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.info)) -%>
        </div>
      <% elsif !@variable.value_domains.empty? -%>
	<table class='listings_table'>
		<thead>
			<tr><th>Label</th><th>Value</th></tr>
		</thead>
		<tbody>
        	<% @variable.value_domains.each do |value_domain| -%>
           		<tr><td><%= value_domain.label -%></td><td><%= value_domain.value -%></td></tr>
        	<% end -%>
		</tbody>
	</table>
      <% else -%>
        <p class="none_text">
          No allowed values
        </p>
      <% end -%>
      </p>
        <b>Dataset:</b>
      <div class="box_standout">
        <%= link_to(Dataset.find(@variable.dataset_id).name, dataset_url(Dataset.find(@variable.dataset_id))) -%>
      </div>
      </p>
      <p>
        <b>Survey:</b>
      <div class="box_standout">
        <%= link_to(Dataset.find(@variable.dataset_id).survey.title, survey_url(Dataset.find(@variable.dataset_id).survey)) -%>
      </div>
      </p>
<% if @variable.nesstar_id && @variable.dataset.nesstar_uri.include?("esds") -%>
	<p><b>More information:</b><%= link_to(image_tag('sqb_big.jpg', :alt=>"View information about this variable on the Survey Question Bank website", :size=>"100x100", :style=>"vertical-align:top;"), 'http://www.surveynet.ac.uk/sqb/qb/questiondetail.asp?sn=' +  @variable.dataset.nesstar_id.split('-')[0] + '&varid=' + @variable.nesstar_id, {:confirm=> "This is a third party resource and has not been verified by MethodBox.", :title=>"View information about this variable on the Survey Question Bank website"})-%></p>
<% end -%>

      <p>
        <b>Statistics:</b>

<%=  render :partial=>"statistics_table", :locals => {:variable => @variable} -%>
		<div style="clear:both;">
			</div>

     <!-- TODO Style cleanup Including highlighting header line.-->
      <% unless @variable.updated_by.blank? %>
        <p><b>Metadata last updated by:
          <div class="box_standout">
            <%= link_to User.find(@variable.updated_by).person.name, person_path(User.find(@variable.updated_by).person) -%>
          </div>
        </p>
        <p><b>Reason:
          <% unless @variable.update_reason.blank? -%>
            <div class="box_standout">
              <%= @variable.update_reason -%>
            </div>
          <% else -%>
            <p class="none_text">
              No reason given
            </p>
          <% end %>
        </p>
      <% end -%>

    </div>

  <!-- </div> -->
<div class="left">
	<% if current_user %>
	<h3>Notes</h3>
	  <%= render :partial => "notes/add_note", :locals=>{:resource_id => @variable.id} -%>
			<% @notes.each do |note| %>
			<%= render :partial => "notes/note", :locals=>{:note=>note} %>
			<% end %>
			<div id="new_note">
				</div>
				<% end %>
</div>
<div class="right">
	<% if current_user %>
	<h3>Comments</h3>
	  <%= render :partial => "comments/add_comment", :locals=>{:resource_id => @variable.id, :controller => "Variables", :comment_div_id => "comment", :update_div_id => "new_comment"} -%>
			<% @comments.each do |comment| %>
			<%= render :partial => "comments/comment", :locals=>{:comment=>comment} %>
			<% end %>
			<div id="new_comment">
				</div>
				<% end %>
</div>
</div>
