<ul class="sectionIcons">
  <% if !Person.find(current_user.person_id).watched_variables.any?{|var| var.variable_id == @variable.id} %>
    <li><%= icon('watch', watch_variable_path(@variable), nil, nil, 'Watch variable') -%></li>
  <% else %>
    <li><%= icon('stopwatch', watch_variable_path(@variable), nil, nil, 'Stop watching variable') -%></li>

  <% end %>
  <li><%= icon('edit', edit_variable_path(@variable), "Edit Variable", nil, 'Edit Variable') -%></li>
<li><%= icon('add_to_cart', add_to_cart_variable_path(@variable), "Add Variable to Cart", {:method => :post}, 'Add Variable to Cart') -%></li>
</ul>
<h1 class="contribution_title">Variable: <%= link_to(h(@variable.name), variable_path(@variable)) -%></h1>
<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%=h @variable.name -%></span>
      </p>
      <br/>

      <p>
        <b>Description:</b>
        <% unless @variable.value.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.value)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>

      <p>
        <b>Category:</b>
        <% unless @variable.category.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.category)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No category
        </p>
      <% end -%>
      </p>
      <p>
        <b>Variable source:</b>
        <% unless @variable.dertype.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dertype)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No source
        </p>
      <% end -%>
      </p>
      <p>
        <b>Derivation method:</b>
        <% unless @variable.dermethod.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dermethod)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No method
        </p>
      <% end -%>
      </p>
      <p>
        <b>Allowed values:</b>
        <% unless @variable.info.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.info)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No allowed values
        </p>
      <% end -%>
      </p>
      <p>
        <b>Survey year:</b>
      <div class="box_standout">
        <%= Survey.find(@variable.survey_id).surveytype + " " + Survey.find(@variable.survey_id).year -%>
      </div>
      </p>
      <p>
        <% if !@variable.variable_links.empty? -%>
          <b>Linked by:</b>
        <div class="box_standout">
          <% @variable.variable_links.each do |link| -%>
            <%=  link_to(link.description, variable_link_path(link)) -%>
          <% end -%>
        </div>
        <b>Linked to variables:</b>
        <div class="box_standout">
          <% @variable.variable_links.each do |link| -%>
            <% link.variables.each do |var| -%>
              <% if @variable.id != var.id -%>
                <%= link_to(var.name, variable_path(var))-%>
              <% end -%>
            <% end -%>
          <% end -%>
        </div>

      <% else -%>
        <b>No links recorded for this variable</b>
      <% end -%>
      </p>

    </div>
    <!-- <p>
            <b>User added notes:</b>
            <div class="box_standout">
              More info to come
            </div>
          </p> -->

    <div id="tag_search">
    </div>

  </div>
</div>