<div class="contents" style="width:30%;float:right; z-index: 1;-moz-box-shadow: 2px 2px 2px #CCC;-webkit-box-shadow: 2px 2px 2px #CCC;box-shadow: 2px 2px 2px #CCC;border: 1px solid #CCCCCC;  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;padding: 5px;">
<div>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;"> MethodBox is brought to you by a team from the <a href = "http://www.manchester.ac.uk">University of Manchester</a> in the UK, led by Principle Investigators <a href="http://www.manchester.ac.uk/research/carole.a.goble/">Carole Goble</a>, <a href="http://www.manchester.ac.uk/research/Buchan/">Iain Buchan</a> and <a href="http://www.manchester.ac.uk/research/angela.dale/">Angela Dale</a>.
</p>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">MethodBox is part of the Obesity eLab project funded by the <a href="http://www.esrc.ac.uk">Economic and Social Research Council</a> and supported by <a href="http://www.digitalsocialresearch.net/wordpress/">Digital Social Research</a>.</p>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">The MethodBox software is developed by the <a href="http://www.mygrid.org.uk">myGrid</a> team and is designed by a joint team from <a href="http://www.mygrid.org.uk">myGrid</a>, the <a href="https://www.nibhi.org.uk/">North West Institute for BioHealth Informatics</a> and the <a href="http://www.ccsr.ac.uk">Cathie Marsh Centre for Census and Survey Research</a>.</p>
</div>
</div>

<div class="contents" style="float: left; width:65%; margin-left: 1em; z-index: 1;-moz-box-shadow: 2px 2px 2px #CCC;-webkit-box-shadow: 2px 2px 2px #CCC;box-shadow: 2px 2px 2px #CCC;border: 1px solid #CCCCCC;  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;padding:5px;">
<div>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;"><%= link_to "Finding", surveys_url -%> the variables you need to support a particular research question can be time consuming.  Wading through hundreds of pages of PDF documents, codebooks and metadata and then trying to find the exact column in a huge spreadsheet can be very frustrating.  MethodBox gets you to the variables faster and lets you download only the data you need.  You can also share your methods with others to allow them to adopt best practice quicker than before. MethodBox enables you to <%= link_to "browse", surveys_url -%> and download <%= DATASET.pluralize.downcase -%>, share your resources, find fellow researchers with similar interests and <b>share your knowledge</b>.</p>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">For more <%= link_to 'information', 'http://wiki.methodbox.org/' -%> on MethodBox, the <%= link_to 'motivations', 'http://wiki.methodbox.org/index.php/Main_Page#About' -%> behind it, how to <%= link_to 'use it', 'http://wiki.methodbox.org/index.php/MethodBox:UserGuides' -%>, how to get <%= link_to 'involved', 'http://wiki.methodbox.org/index.php/MethodBox:Developers#Getting_Involved' -%> and how to <%= link_to 'contact us', 'http://wiki.methodbox.org/index.php/MethodBox:Contacts' -%> please see the <%= link_to 'wiki', 'http://wiki.methodbox.org' -%>.</p>
</div>
</div>

<div class="contents" style="float: left; width:65%; margin-left: 1em; margin-top: 1.5em; z-index: 1;-moz-box-shadow: 2px 2px 2px #CCC;	-webkit-box-shadow: 2px 2px 2px #CCC;box-shadow: 2px 2px 2px #CCC;border: 1px solid #CCCCCC;  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;padding:5px;">
<div>
<p style="text-align:center;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;"><iframe width="560" height="315" src="<%= ROUTES_PROTOCOL -%>://www.youtube.com/embed/uGHYb7CfLRM" frameborder="0" allowfullscreen></iframe></p>
</div>
</div>
