<%= javascript_include_tag 'hidden_fields.js' -%>
<% if controller.action_name == "search" -%>
<div class="medium-padding-left normal-padding-top normal-padding-bottom" id="advanced_search_checkboxes" style="border-right: 1px solid lightgray;border-bottom: 1px solid lightgray;margin-left: 5px;margin-top: 5px;">
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'variables', true, :onclick=>"setHiddenFieldValue('variable_select');" -%>Variables</li>
<%= javascript_tag "storeHiddenFieldValue('variable_select', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_name', true, :onclick=>"setHiddenFieldValue('variable_name');" -%>name</li>
<%= javascript_tag "storeHiddenFieldValue('variable_name', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_description', true, :onclick=>"setHiddenFieldValue('variable_description');" -%>description</li>
<%= javascript_tag "storeHiddenFieldValue('variable_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_value', true -%>values</li>
<%= javascript_tag "storeHiddenFieldValue('variable_value', true)"-%>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'surveys', true -%><%= SURVEY.pluralize -%></li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'survey_title', true -%>title</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'survey_description', true -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'methods', true -%>Methods</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_title', true -%>title</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_description', true -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'datasets', true -%><%= DATASET.pluralize -%></li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_title', true -%>title</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_description', true -%>description</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_year', true -%>year</li>
<% start_year = Dataset.scoped(:select => "DISTINCT year").sort!{|x,y| x.year.to_i <=> y.year.to_i}.delete_if{|x| x.year == nil}.first.year.to_i -%>
<li class="small-padding-top"><%= select_year(start_year, :start_year => start_year, :end_year => Date.today.year) -%> to <%= select_year(Date.today, :start_year => start_year, :end_year => Date.today.year) -%><li>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'extracts', true -%>Data Extracts</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'extract_title', true -%>title</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'extract_description', true -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'publications', true -%>Publications</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'publication_title', true -%>title</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'publication_description', true -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'people', true -%>People</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'people_name', true -%>name</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'people_description', true -%>description</li>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'people_expertise', true -%>expertise</li>
</ul>
</div>
</div>
<% end -%>


