<div style="padding-left: 30%; padding-right: 30%;padding-top: 8em;">
<div style="text-align: center;"><%= link_to image_tag("box_transparent.png",:alt=>"www.methodbox.org",:title=>"Methodbox",:height=>100),root_path -%></div>
<% form_tag '/search/' do -%>
<!-- search for everything from the main page -->
<!-- initial search is for first page -->
<%= hidden_field_tag 'person_page', 1 -%>
<%= hidden_field_tag 'survey_page', 1 -%>
<%= hidden_field_tag 'script_page', 1 -%>
<%= hidden_field_tag 'csvarchive_page', 1 -%>
<%= hidden_field_tag 'publication_page', 1 -%>
<%= hidden_field_tag 'variable_page', 1 -%>
<div style="text-align: center; padding-bottom:5px;">
<%= text_field_tag :search_query, @search_query, :style=>"width: 100%; height: 25px;font: 17px arial,sans-serif;", :title=>"Find variables, surveys, people and methods" -%>
</div>
<div id="advanced-search-options" style="text-align: center; padding-bottom: 5px; <%= @advanced_controls ? '' : 'display:none'-%>">
Surveys:<%= check_box_tag 'search_type[]', 'surveys', true -%>
Variables:<%= check_box_tag 'search_type[]', 'variables', true -%>
<% if logged_in? -%>
People:<%= check_box_tag 'search_type[]', 'people', true -%>
<% end -%>
Methods:<%= check_box_tag 'search_type[]', 'methods', true -%>
Data Extracts:<%= check_box_tag 'search_type[]', 'extracts', true -%>
Publications:<%= check_box_tag 'search_type[]', 'publications', true -%>
</div>
<div style="text-align: center;">
<%= submit_tag "Search", :style=>"width: 80px; height: 25px;font: 17px arial,sans-serif;", :title=>"Find variables, surveys, people and methods", :onclick => "Element.show('spinner');"   -%>
</div>
<% end  -%>
</div>
