<div style="padding-left: 30%; padding-right: 30%;padding-top: 8em;">
<div style="text-align: center;"><%= link_to image_tag("box_transparent_medium.png",:alt=>"www.methodbox.org",:title=>"Methodbox"),root_path -%></div>
<% form_tag('/search/', :method=>"get") do -%>
<!-- search for everything from the main page -->
<!-- initial search is for first page -->
<%= hidden_field_tag 'person_page', 1 -%>
<%= hidden_field_tag 'survey_page', 1 -%>
<%= hidden_field_tag 'script_page', 1 -%>
<%= hidden_field_tag 'csvarchive_page', 1 -%>
<%= hidden_field_tag 'publication_page', 1 -%>
<%= hidden_field_tag 'variable_page', 1 -%>
<div style="text-align: center; padding-bottom:5px;">
<%= text_field_tag :search_query, @search_query, :style=>"width: 100%; height: 25px;font: 17px arial,sans-serif;", :title=>'Find variables, ' + SURVEY.pluralize + ', people, methods and more . Use + for terms that must be included, - for terms to be excluded & double quotes around phrases eg. +private "health insurance" -covered' -%>
</div>
<div id="advanced-search-options" style="text-align: center; padding-bottom: 5px; <%= @advanced_controls ? '' : 'display:none'-%>">
<div style="display: block; width: 100%;">
<table>
<tbody>
<tr><td><ul><li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'surveys', true -%><%= SURVEY.pluralize -%> and <%= DATASET.pluralize -%></li>
<li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'variables', true -%>Variables</li>
<% if logged_in? -%>
<li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'people', true -%>People</li>
<% end -%>
<li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'methods', true -%>Methods</li>
<li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'extracts', true -%>Data Extracts</li>
<li style="display: inline;list-style-type: none;"><%= check_box_tag 'search_type[]', 'publications', true -%>Publications</li></ul></td></tr>
<tr><td style="font-size: smaller; font-color: gray;">Select the things you want to search.  Maybe you want to find variables from a <%= SURVEY.downcase -%>, perhaps you need to find a particular <%= DATASET.downcase -%>.  Share your results with other researchers or keep them private, the choice is yours.</td></tr>
<tr><td style="font-size: smaller;">Use + for terms that must be included, - for terms to be excluded & double quotes around phrases eg. +private "health insurance" -covered</td></tr>
</tbody>
</table>
</div>
</div>
<div style="text-align: center;">
<%= submit_tag "Search", :id=>"search_button", :style=>"width: 80px; height: 25px;font: 17px arial,sans-serif;", :title=>"Find what you are looking for......", :onclick => "if (!checkNotEmpty('search_query')) {return false;} else {Element.show('spinner');$('search_button').form.submit();return true;}"   -%>
</div>
<% end  -%>
</div>
