<%= javascript_include_tag 'hidden_fields.js' -%>
<% if controller.action_name == "search" -%>
<div class="left normal-padding-left normal-padding-top normal-padding-bottom normal-padding-right normal-margin-bottom" id="advanced_search_checkboxes" style="border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border: 2px solid lightgray;">
<div class="normal-padding-bottom normal-border-bottom-grey">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'variables', true, :onchange=>"setHiddenFieldValue('variable_select', this.checked);" -%>Variables</li>
<%= javascript_tag "storeHiddenFieldValue('variable_select', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_name', true, :onchange=>"setHiddenFieldValue('variable_name', this.checked);" -%>name</li>
<%= javascript_tag "storeHiddenFieldValue('variable_name', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_description', true, :onchange=>"setHiddenFieldValue('variable_description', this.checked);" -%>description</li>
<%= javascript_tag "storeHiddenFieldValue('variable_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'variable_value', true, :onchange=>"setHiddenFieldValue('variable_value', this.checked);" -%>values</li>
<%= javascript_tag "storeHiddenFieldValue('variable_value', true)"-%>
</ul>
</div>
<div class="normal-padding-bottom normal-border-bottom-grey small-padding-top">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'surveys', true, :onchange=>"setHiddenFieldValue('survey_select', this.checked);" -%><%= SURVEY.pluralize -%></li>
<%= javascript_tag "storeHiddenFieldValue('survey_select', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'survey_title', true, :onchange=>"setHiddenFieldValue('survey_title', this.checked);" -%>title</li>
<%= javascript_tag "storeHiddenFieldValue('survey_title', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'survey_description', true, :onchange=>"setHiddenFieldValue('survey_description', this.checked);" -%>description</li>
<!--<li class="medium-padding-left"><%#= check_box_tag 'search_type[]', 'survey_location', false, :onchange=>"setHiddenFieldValue('survey_location', this.checked);", :title=>"Include searching by location in the title and description" -%>location</li>-->
<%= javascript_tag "storeHiddenFieldValue('survey_description', true)"-%>
<%= javascript_tag "storeHiddenFieldValue('survey_location', false)"-%>
<%= javascript_tag "storeHiddenFieldValue('survey_location_place', 'ALL')"-%>
<!--<li><%#= select_tag 'survey_location_place' ,options_for_select(location_search_options, :selected=>"ANY"), {:onchange=>"setHiddenFieldValue('survey_location_place', this.value);", :title=>"Select country which " + SURVEY + " must have in the title or description."} -%></li>-->
</ul>
</div>
<div class="normal-padding-bottom normal-border-bottom-grey small-padding-top">
<ul style="margin: 0; display: inline-block;">
<%= javascript_tag "storeHiddenFieldValue('script_select', true)"-%>
<li class="larger-font"><%= check_box_tag 'search_type[]', 'methods', true, :onchange=>"setHiddenFieldValue('script_select', this.checked);" -%>Methods</li>
<%= javascript_tag "storeHiddenFieldValue('script_title', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'script_title', true, :onchange=>"setHiddenFieldValue('script_title', this.checked);" -%>title</li>
<%= javascript_tag "storeHiddenFieldValue('script_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'script_description', true, :onchange=>"setHiddenFieldValue('script_description', this.checked);" -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom normal-border-bottom-grey small-padding-top">
<ul style="margin: 0; display: inline-block;">
<li class="larger-font"><%= check_box_tag 'search_type[]', 'datasets', true, :onchange=>"setHiddenFieldValue('dataset_select', this.checked);" -%><%= DATASET.pluralize -%></li>
<%= javascript_tag "storeHiddenFieldValue('dataset_select', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_title', true, :onchange=>"setHiddenFieldValue('dataset_title', this.checked);" -%>title</li>
<%= javascript_tag "storeHiddenFieldValue('dataset_title', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_description', true, :onchange=>"setHiddenFieldValue('dataset_description', this.checked);" -%>description</li>
<%= javascript_tag "storeHiddenFieldValue('dataset_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'dataset_year', false, :onchange=>"setHiddenFieldValue('dataset_year', this.checked);" -%>year</li>
<%= javascript_tag "storeHiddenFieldValue('dataset_year', true);"-%>
<% start_year = Dataset.scoped(:select => "DISTINCT year").sort!{|x,y| x.year.to_i <=> y.year.to_i}.delete_if{|x| x.year == nil}.first.year.to_i -%>
<%= javascript_tag "storeHiddenFieldValue('dataset_start_year', #{start_year})"-%>
<%= javascript_tag "storeHiddenFieldValue('dataset_end_year', #{Date.today.year})"-%>
<li class="small-padding-top small-padding-bottom"><%= select_year(start_year, {:start_year => start_year, :end_year => Date.today.year}, {:onchange=>"setHiddenFieldValue('dataset_start_year', this.value);"}) -%> to <%= select_year(Date.today, {:start_year => start_year, :end_year => Date.today.year}, {:onchange=>"setHiddenFieldValue('dataset_end_year', this.value);"}) -%><li>
<!-- <li class="medium-padding-left"><%#= check_box_tag 'search_type[]', 'dataset_location', false, :onchange=>"setHiddenFieldValue('dataset_location', this.checked);", :title=>"Include searching by location in the title and description" -%>location</li>-->
<%= javascript_tag "storeHiddenFieldValue('dataset_location', false)"-%>
<%= javascript_tag "storeHiddenFieldValue('dataset_location_place', 'ALL')"-%>
<!--<li><%#= select_tag 'dataset_location_place', options_for_select(location_search_options, :selected=>"ANY"), {:onchange=>"setHiddenFieldValue('dataset_location_place', this.value);", :title=>"Select country which " + DATASET + " must have in the title or description."} -%></li>-->
</ul>
</div>
<div class="normal-padding-bottom normal-border-bottom-grey small-padding-top">
<ul style="margin: 0; display: inline-block;">
<%= javascript_tag "storeHiddenFieldValue('extract_select', true)"-%>
<li class="larger-font"><%= check_box_tag 'search_type[]', 'extracts', true, :onchange=>"setHiddenFieldValue('extract_select', this.checked);" -%>Data Extracts</li>
<%= javascript_tag "storeHiddenFieldValue('extract_title', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'extract_title', true, :onchange=>"setHiddenFieldValue('extract_title', this.checked);" -%>title</li>
<%= javascript_tag "storeHiddenFieldValue('extract_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'extract_description', true, :onchange=>"setHiddenFieldValue('extract_description', this.checked);" -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom normal-border-bottom-grey small-padding-top">
<ul style="margin: 0; display: inline-block;">
<%= javascript_tag "storeHiddenFieldValue('publication_select', true)"-%>
<li class="larger-font"><%= check_box_tag 'search_type[]', 'publications', true, :onchange=>"setHiddenFieldValue('publication_select', this.checked);" -%>Publications</li>
<%= javascript_tag "storeHiddenFieldValue('publication_title', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'publication_title', true, :onchange=>"setHiddenFieldValue('publication_title', this.checked);" -%>title</li>
<%= javascript_tag "storeHiddenFieldValue('publication_description', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'publication_description', true, :onchange=>"setHiddenFieldValue('publication_description', this.checked);" -%>description</li>
</ul>
<%= javascript_tag "storeHiddenFieldValue('publication_journal', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'publication_journal', true, :onchange=>"setHiddenFieldValue('publication_journal', this.checked);" -%>description</li>
</ul>
</div>
<div class="normal-padding-bottom small-padding-top">
<ul style="margin: 0; display: inline-block;">
<%= javascript_tag "storeHiddenFieldValue('people_select', true)"-%>
<li class="larger-font"><%= check_box_tag 'search_type[]', 'people', true, :onchange=>"setHiddenFieldValue('people_select', this.checked);" -%>People</li>
<%= javascript_tag "storeHiddenFieldValue('person_name', true)"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'people_name', true, :onchange=>"setHiddenFieldValue('person_name', this.checked);" -%>name</li>
<%= javascript_tag "storeHiddenFieldValue('person_expertise', #{start_year})"-%>
<li class="medium-padding-left"><%= check_box_tag 'search_type[]', 'person_expertise', true, :onchange=>"setHiddenFieldValue('person_expertise', this.checked);" -%>expertise</li>
</ul>
</div>
</div>
<% end -%>
<div class="middle-padding medium-padding-top">
<div class="center"><%= link_to image_tag("box_transparent_medium.png",:alt=>"www.methodbox.org",:title=>"Search and download variables from ESDS and other providers."),root_path -%></div>
<% form_tag('/search/', :method=>"get") do -%>
<!-- search for everything from the main page -->
<!-- initial search is for first page -->
<div id="hidden_fields">
<%= render :partial => "layouts/search_hidden_fields" %>
</div>
<div class="center normal-padding-bottom">
<%= text_field_tag :search_query, @search_query, :style=>"width: 100%; height: 25px;font: 17px arial,sans-serif;", :title=>'Find variables, ' + SURVEY.pluralize + ', people, methods and more . Use + for terms that must be included, - for terms to be excluded & double quotes around phrases eg. +private "health insurance" -covered' -%>
</div>
<div class="center normal-padding-bottom" id="advanced-search-options" style="<%= @advanced_controls ? '' : 'display:none'-%>">
<div>
<table>
<tbody>
<tr><td style="font-size: smaller; color: #484848;">Select the things you want to search.  Maybe you want to find variables from a <%= SURVEY.downcase -%> with a particular name, perhaps you need to find a <%= DATASET.downcase -%> from a certain year. Exclude and/or include resource types and search fields using the options in the sidebar.</td></tr>
<tr><td style="font-size: smaller; color: #484848;">Use + for terms that must be included, - for terms to be excluded & double quotes around phrases eg. +private "health insurance" -covered</td></tr>
</tbody>
</table>
</div>
</div>
<div style="text-align: center;">
<%= submit_tag "Search", :id=>"search_button", :style=>"width: 80px; height: 25px;font: 17px arial,sans-serif;", :title=>"Find what you are looking for......", :onclick => "if (!checkNotEmpty('search_query')) {return false;} else {Element.show('spinner');$('search_button').form.submit();return true;}"   -%>
</div>
<% end  -%>
</div>