<ul class="sectionIcons">
<% if current_user.is_admin? -%>
<li><%= icon('script', dataset_path(@dataset), 'Return to Dataset', nil, 'Return to Dataset') -%></li>
<li>
<%= icon('manage', edit_dataset_path(@dataset), nil, nil, 'Edit Dataset details') -%>
</li>
<li>
<%= icon('manage', update_data_dataset_path(@dataset), nil, nil, 'Upload variable data') -%>
</li>
<li>
<%= icon('manage', update_metadata_dataset_path(@dataset), nil, nil, 'Upload variable metadata') -%>
</li>
</ul>
<% end -%>
<div class="show_basic">
<% if @new_variables && @new_variables.size>=1 -%>
The following variables have been added in the new dataset.<br/>
<% @new_variables.each do |new_variable| -%>
<%= link_to Variable.find(new_variable).name, variable_path(Variable.find(new_variable)) %><br/>
<% end -%>
<% end -%>
<br/>
<% if @missing_vars && @missing_vars.size>=1 -%>
The following variables were in the previous uploaded dataset but were missing in the new dataset.<br/>
<% @missing_vars.each do |missing_variable| -%>
<div id="<%= Variable.find(missing_variable).id %>">
<%= link_to Variable.find(missing_variable).name, variable_path(Variable.find(missing_variable)) %>
<%= link_to_remote "Archive this variable", :url=> deprecate_variable_path(Variable.find(missing_variable)), :with=> "'reason=' + $('#{Variable.find(missing_variable).id.to_s + "_reason"}').value + '&replaces=' + $('#{Variable.find(missing_variable).id.to_s + "_replaces"}').value" %> <b>Reason:</b><br/>
  <%= text_field :archive,:reason ,:id=> Variable.find(missing_variable).id.to_s + "_reason" -%><br/>
<b>Replaces:</b><br/>
<%= text_field :archive,:replaces ,:id=> Variable.find(missing_variable).id.to_s + "_replaces" -%>
</div>
<% end -%>
<% end -%>
</div>

