<%= include_javascripts :variables -%>
<p>
        <b>Term(s):</b> <%= h @search.terms -%>
      </p>
<p>
        <b>Date of search:</b> <%= h @search.created_at -%>
      </p>

<p>
        <b>Number of variables:</b> <%= h @search.variables.size -%>
      </p>


<% form_tag({:url => { :action => "add_to_cart"}, :value=>"search"}, {:onSubmit=>"$('spinner').show();"}) do -%>
<div style="margin-bottom: 10px;">
<% if logged_in? -%>
<%= submit_to_remote '_submit', 'Add selected variables to cart', {:url=>{:action=> "add_to_cart", :value=>"add"}, :before => "if (!anyVariablesSelected()) {alert('There are no variables selected to add to your cart.  Please select some and try again.'); return false;} else {Element.show('spinner')}",:success => "Element.hide('spinner')", :class=>'add_var_button'} -%>
<% end -%>
</div>
<div id="selected_variables">
</div>
<div class="yui-skin-sam">
<div id="variables_table"></div>
</div>
<% end -%>
<script type="text/javascript">
var results = <%= raw @variables_json -%>;
createTable();
</script>
