<%# this partial will display a dynamically generated view of all assets from a collection; -%>
<%# different types of assets will be placed in different tabs based on their class; -%>
<%# the partial requires 3 parameters to be defined: -%>
<%# - asset_hash: a hash of all asset instances, where keys are asset class names and values are arrays of asset instances of that class -%>
<%# - narrow_view: type of the partial to use for asset listings: 'false' to use the same partial with much info as on SOPs listing page -%>
<%#                                                               'true' to use a partial with fewer information; suitable for 'show' pages for people/projects -%>
<%# - authorization_already_done: boolean value indicating whether all items in the collection have already been authorized for the current user to view or not -%>

<% narrow_view ||= false -%>
<% authorization_already_done ||= false -%>
<% tab_count = 1 %>
<% tab_id = 1 -%>
<!-- Tabs and headings-->
<% unless asset_hash.empty? -%>
	<div class="yui-skin-sam">
		<div id="assets" class="yui-navset">
			<ul class="yui-nav">
			<% asset_hash.each_key do |resource_type| -%>
				<% visible_resource_type = resource_type.titleize.pluralize -%>
				<% visible_resource_type = "Data Extracts" if visible_resource_type=="Csvarchives" %>
				<% visible_resource_type = "Methods and Scripts" if visible_resource_type=="Scripts" %>
                                <% visible_resource_type = "People" if visible_resource_type=="Peoples" %>
				<% unless (resources = asset_hash[resource_type]).nil? || resources.empty? -%>
				<% if tab_count == 1 %>
				<% if resource_type.downcase == "dataset" -%>
									<li><a href="#assets_tab_<%= tab_count.to_s -%>" title="Search results for all <%= SURVEY.pluralize.downcase -%> and <%= DATASET.pluralize.downcase -%> with <%= resources.length.to_s -%> results"><em><%= h truncate(SURVEY.pluralize + ' and ' + DATASET.pluralize + '(' + resources.length.to_s + ')', :length=> 30, :omission => '...') %></em></a></li>
				<% else -%>
					<li class="selected"><a href="#assets_tab_<%= tab_count.to_s -%>" title="Search results for all <%= visible_resource_type.downcase + ' with ' + resources.length.to_s + ' results' -%>"><em><%= h truncate(visible_resource_type + '(' + resources.length.to_s + ')', :length=> 30, :omission => '...') %></em></a></li>
				<% end -%>
                <% else -%>
					<li><a href="#assets_tab_<%= tab_count.to_s -%>" title="Search results for all <%= visible_resource_type.downcase + ' with ' + resources.length.to_s + ' results' -%>"><em><%= h truncate(visible_resource_type + '(' + resources.length.to_s + ')', :length=> 30, :omission => '...') %></em></a></li>
				<% end -%>
			<% tab_count += 1 %>
				<% end -%>
			<% end -%>
			</ul>
			<!-- tab content -->
			<div class="yui-content">
			<% asset_hash.each_key do |resource_type| -%>
			<% visible_resource_type = resource_type.titleize.pluralize -%>
			<% visible_resource_type = "Data Extracts" if visible_resource_type=="Csvarchives" %>
                        <% visible_resource_type = "People" if visible_resource_type=="Peoples" %>
			<% visible_resource_type = "Methods and Scripts" if visible_resource_type=="Scripts" %>
			<% unless (resources = asset_hash[resource_type]).nil? || resources.empty? -%>
					<% if resource_type.downcase == "survey" -%>
                                          <div id="<%= 'assets_tab_' + tab_id.to_s -%>">
                                            <%= render :partial => "surveys/search_results", :locals=> {:surveys => resources, :surveys_json => @surveys_json} -%>
	                                  </div>	
					<% elsif resource_type.downcase == "dataset" -%>
                                          <div id="<%= 'assets_tab_' + tab_id.to_s -%>">
                                            <%= render :partial => "datasets/search_results", :locals=> {:datasets => resources, :datasets_json => @datasets_json} -%>
	                                  </div>			
					<% elsif resource_type.downcase == "variable" %>
                                          <div id="<%= 'assets_tab_' + tab_id.to_s -%>">
                                            <%= render :partial => "variables/search_results", :locals=> {:variables => resources} -%>
                                          </div>
                                        <% else -%>
					<div class="asset-resource-list" id="<%= 'assets_tab_' + tab_id.to_s -%>">
						<%= render :partial => "assets/resource_list", :locals => { :collection => resources, :narrow_view => narrow_view, :authorization_for_showing_already_done => authorization_already_done, :paginate => true } -%>
					</div>
					<% end %>
			<% tab_id += 1 -%>
			<% end -%>
		<% end -%>
</div>
		</div>
	</div>
<% else -%>
	<span class="none_text">No items (or none that you are permitted to see).</span>
<% end -%>
<script type="text/javascript">
   tabView = new YAHOO.widget.TabView("assets");
   tabView.addListener("activeTabChange", handleTabViewActiveTabChange); 
   function handleTabViewActiveTabChange (e) {
      var newState;
      newState = this.getTabIndex(e.newValue);
      YAHOO.util.Cookie.set("search_tab", newState, {
        path: "/"
      });
   }
   var value = YAHOO.util.Cookie.get("search_tab");
   if (value != null) {
       if (tabView.getTab(value) != null){
         tabView.set("activeIndex", value);
       } else {
          tabView.set("activeIndex", <%= tab_count -2 -%>);
          YAHOO.util.Cookie.set("search_tab", <%= tab_count -2 -%>, {
            path: "/"
          });
       }
   }
</script>

