          <div style="position: relative;background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;width:100%;height:60px;">
            <div style="position: absolute; ;top:1em;left:1em"><%= text_field_tag :survey_search_query, @survey_search_query %>
              <%= image_tag(method_to_icon_filename("help"), :size => "25x25", :alt => "Search terms quick guide", :title=>"Search terms quick guide", :onclick => "showPopup('help_box'); return false;",:class=> "help_image") -%>
              <%= submit_tag 'Search selected surveys',:id => "search_button",:onclick => "if (!checkNotEmpty('survey_search_query')) {return false;} else if (!areAnyDatasetsSelected()) {alert('Please select some datasets.');return false;} else {$('search_button').value='Searching for variables......';$('search_button').disable();$('search_button').form.submit();return true;}" %>
            </div>
            <% if user_signed_in? && !@recent_searches.empty? -%>
              <div style="position: absolute; top:1em;left:30em">
                Recent searches:
                <%= select_tag 'recent searches' ,options_from_collection_for_select(@recent_searches, 'id', 'terms'), :onchange=>"javascript:$('survey_search_query').value = this.options[this.selectedIndex].text" -%>
              </div>
            <% end -%>
            <% if user_signed_in? -%>
              <div id="cart_button" style="float: right; margin-right: 1em;">
	        <ul class="vbuttons">
                  <li><%= render :partial => "cart/button" -%></li>
	        </ul>
              </div>
            <% end -%>
            <div style="position: absolute; bottom:0.9em; left:1em;">
              <div id="help_box" style="display: none; z-index: 100; position: absolute;">
                <%= render :partial=>"term_help_popup" %>
              </div>
              Select:
              <%= link_to_function 'All', "$$('input.survey_checkbox').each(function(checkbox){selectDatasets(checkbox, true);})" %>
          ,&nbsp
              <%= link_to_function 'None', "$$('input.survey_checkbox').each(function(checkbox) { selectDatasets(checkbox, false);})" %>
          ,&nbsp
              <%= link_to_function 'Invert selection', "$$('input.survey_checkbox').each(function(checkbox) { selectDatasets(checkbox, !checkbox.checked);})" %>
            </div>
          </div>
