<ul>
<% @survey_hash[key].each do |item| -%>
<%# tableize @survey_hash[key], :cols => 6, :class => 'survey_table', :generate_css => 'true' do |item| %>            
<li style="display:inline-block; vertical-align:top; margin-bottom: 1em;">
	          <div style="-webkit-border-radius: 10px; border-radius: 10px; -moz-border-radius:10px; -moz-box-shadow: #777 2px 3px 5px; -webkit-box-shadow: 2px 3px 5px #777777; box-shadow: 2px 3px 5px #777; background-color: #FFFFCC;	text-align: center; border:1px solid #DDDDDD;">
		        <p class="survey_box" id="<%= item.id.to_s + "_survey_box"-%>">
		          <%= image_tag("folds/unfold.png", :onclick=>"hideOrShowThisDiv(#{item.id.to_s})", :title=>"Hide or show datasets for this survey") -%><%= check_box_tag item.title + "_survey_ids[]", item.id,false,:onclick=>"selectAllDatasetsForYear(#{item.id}, true)", :title=> "Select/Unselect all datasets for this survey", :class=>'survey_checkbox', :id=>"#{item.id.to_s + '_survey_check'}"  %><%= link_to(item.title + " (" + item.datasets.size.to_s + ")", survey_path(item), :title => item.title + " has " + item.datasets.size.to_s + " datasets") -%>
		        </p>
		          <p class="hidden_para" style="display:none;" id="<%= item.id.to_s + "_div"-%>">

		        <% item.datasets.each do |dataset| -%>
		            <%= check_box_tag "entry_ids[]", dataset.id,(selected.include?(dataset) && {:checked => 'checked'}),:onclick=>"checkSelectAllStatus(#{item.id.to_s},#{dataset.id.to_s})", :class=>'survey_checkbox', :id=>"#{item.id.to_s + '_' + dataset.id.to_s + '_survey_check'}" %>
		            <%= link_to(dataset.name , dataset_path(dataset)) -%><br/><%= h truncate(dataset.description, :length=> 200, :omission => '...') -%>
<br/>
		<%= javascript_tag "addDataset(#{item.id.to_s}, #{dataset.id.to_s})"-%>
		        <% end -%>
    </p>
</div>
</li>
	<% end %>
</ul>
