<%= javascript_include_tag 'survey_checkbox.js' -%>
<div style="position: relative;background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;width:100%;height:60px;">
  <div style="position: absolute; ;top:1em;left:1em"><%= text_field_tag :survey_search_query, @survey_search_query %>
			<%= image_tag(method_to_icon_filename("help"), :size => "25x25", :alt => "Search terms quick guide", :title=>"Search terms quick guide", :onclick => "showPopup('help_box'); return false;",:class=> "help_image") -%>
    <%= submit_tag 'Search selected surveys',:id => "search_button",:onclick => "if (!checkNotEmpty('survey_search_query')) {return false;} else if (!areAnyDatasetsSelected()) {alert('Please select some datasets.');return false;} else {$('search_button').value='Searching for variables......';$('search_button').disable();return true;}" %>
  </div>
	  <% if logged_in? && !@recent_searches.empty? -%>
	  <div style="position: absolute; top:1em;left:30em">
		Recent searches:
	<%= select_tag 'recent searches' ,options_from_collection_for_select(@recent_searches, 'id', 'terms'), :onchange=>"javascript:$('survey_search_query').value = this.options[this.selectedIndex].text" -%>
	</div>
	<% end -%>
</div>
<div id="currently_selected_datasets" style="display:none;">Currently selected datasets:</div>
<div id="datasets_list"> 
<%= render :partial => "surveys/dataset_list", :locals => { :survey_hash => @survey_hash } -%>
</div>