<div id= "<%= row_name + "_expanded" -%>" style="border: 1px dashed black;">
<div>
<%= render :partial => "variable_row_info", :locals => {:item => item, :extract_lineage => extract_lineage, :extract_id => extract_id, :lineage => lineage} %>
</div>

<%=  render :partial=>"variables/statistics_table", :locals => {:variable => item, :var_hash => var_hash, :no_var_hash => no_var_hash, :total_entries => total_entries, :invalid_entries => invalid_entries, :blank_rows => blank_rows, :value_domain_hash => value_domain_hash, :valid_entries => valid_entries} -%>
<div style="clear:both">
</div>

  <br/>
<div>
	<% if current_user %>
	<h3>Comments</h3>
	  <%= render :partial => "comments/add_comment", :locals=>{:resource_id => item.id, :controller => 'Variables', :comment_div_id => 'comment_variable_' + item.id.to_s, :update_div_id =>'comment_variable_' + item.id.to_s + "_new_comment"} -%>
			<% item.comments.each do |comment| %>
			<%= render :partial => "comments/comment", :locals=>{:comment=>comment} %>
			<% end %>
			<div id="comment_variable_<%= item.id.to_s -%>_new_comment">
				</div>
				<% end %>
</div>
</div>
