<% if item.interval && item.interval == 'contin' || item.nesstar_id == nil && item.number_of_unique_values > 20 -%>
  <table class="listings_table">
    <tr><td>Mean</td><td><%= item.mean ? item.mean : 'N/A' -%></td></tr>
    <tr><td>Median</td><td><%= item.median ? item.median : 'N/A' -%></td></tr>
  </table>
<% end %>
<table class="listings_table">
  <% if invalid_entries.is_a?(Numeric) && valid_entries.is_a?(Numeric) %>
    <tr><td>Total Records</td>
      <% if total_entries.is_a?(Numeric) -%>
        <td><%= total_entries -%></td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
    <tr><td>Invalid records</td><td><%= invalid_entries -%></td> 
      <% if total_entries != 0 && total_entries.is_a?(Numeric) -%>
        <td>(<%=  (invalid_entries.to_f/total_entries.to_f * 100).round(2) -%>%)</td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>
  <% if blank_rows %>
    <tr><td>Blank rows/Missing records</td><td><%= blank_rows -%></td>
      <% if total_entries != 0 && total_entries.is_a?(Numeric) %>
        <td><%= '(' + (blank_rows.to_f/total_entries.to_f * 100).round(2).to_s + ')' -%>%</td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if !var_hash.empty? -%>
<table class="listings_table">
<% if var_hash.size < 20 %>
<thead>
<tr><th>Label</th><th>Value</th><th>Number of entries</th><th>Percentage of total</th></tr>
</thead>
<% end %>
<tbody>
<% if var_hash.size < 20 %>
<% var_hash.each_key do |key| -%>
<tr><td><%= value_domain_hash[key] -%></td><td><%= item.nesstar_id ? ValueDomain.find(key).value : key -%></td><td><%= var_hash[key] -%></td>
<% if total_entries != 0 && total_entries.is_a?(Numeric) %>
<td><%= total_entries.is_a?(Numeric) ? (var_hash[key].to_f/total_entries.to_f * 100).round(2) : 'N/A'-%>%</td></tr>
<% else %>
<td>N/A</td>
<% end %>
<% end -%> 
<% if no_var_hash != nil %>
<% no_var_hash.each_key do |key| -%>
<tr><td><%= value_domain_hash[key] -%></td><td><%= item.nesstar_id ? ValueDomain.find(key).value : key -%></td><td><%= no_var_hash[key] -%></td>
<% if total_entries != 0 && total_entries.is_a?(Numeric) %>
<td><%= total_entries.is_a?(Numeric) ? (no_var_hash[key].to_f/total_entries.to_f * 100).round(2) : 'N/A'-%>%</td></tr>
<% else %>
<td>N/A</td>
<% end %>
<% end -%>
<% end %>
<% end %>
</tbody>
</table>
<% end -%>