<div class="medium-padding">
  <% if item.name.size > 20 -%>
    <div style="margin:auto;"><b>Actual Variable name:</b> <%= item.name -%></div>
    <br/>
  <% end -%>
<% if lineage %>
  <div>
	<b>Lineage of term</b>(<i>ie. where/why you added it to your cart</i>) - <%= display_lineage_for_variable(item.id, extract_lineage, extract_id) %>
  </div>
<br/>
<% end %>
  <div>
    <% unless item.document.blank? -%>
      <div><span>Document:</span> 
        <span class="small-padding"><%= link_to(item.document + ", page " + item.page, open_pdf_variable_url(item) + "#page=" + item.page,:title=>"Open the PDF document with information about this variable") -%></span>
      </div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% if item.category != nil -%>
      <div><span class="bold">Category:</span><span class="small-padding"><%= item.category -%></span></div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% unless item.dertype.blank? -%>
      <div><span class="bold">Variable source:</span><span class="small-padding"><%= item.dertype %></span></div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% unless item.dermethod.blank? -%>
      <div><span class="bold">Derivation method:</span></div>
      <div style="margin:auto;border:0.2em solid #ACCBE0;"><pre style='white-space: normal;'><%=  item.dermethod -%></pre></div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% if item.info != nil -%>
      <div><span class="bold">Allowed values:</span></div>
      <div style="margin:auto;border:0.2em solid #ACCBE0;"><pre><%= item.info -%></pre></div>
    <% end -%>
  </div>
