<%= javascript_include_tag 'toggler.js' %>

<div id= "<%= row_name + "_expanded" -%>" style="border: 1px dashed black;">
<div>
<%= render :partial => "variable_row_info", :locals => {:item => item, :extract_lineage => extract_lineage, :extract_id => extract_id, :lineage => lineage} %>
</div>

<div class="left" style="width:40%" id='<%= row_name + "_expanded_stats_chart" -%>'>
</div>
<div class="right variable_row_info" style="width:40%">
	<%= render :partial => "variable_row_stats_info", :locals=>{:item => item,:var_hash => var_hash, :no_var_hash => no_var_hash, :valid_entries => valid_entries, :invalid_entries => invalid_entries, :value_domain_hash => value_domain_hash, :total_entries => total_entries, :blank_rows => blank_rows} %>
</div>
<div style="clear:both">
</div>

  <br/>
<div>
	<% if current_user %>
	<h3>Comments</h3>
	  <%= render :partial => "comments/add_comment", :locals=>{:resource_id => item.id, :controller => 'Variables', :comment_div_id => 'comment_variable_' + item.id.to_s, :update_div_id =>'comment_variable_' + item.id.to_s + "_new_comment"} -%>
			<% item.comments.each do |comment| %>
			<%= render :partial => "comments/comment", :locals=>{:comment=>comment} %>
			<% end %>
			<div id="comment_variable_<%= item.id.to_s -%>_new_comment">
				</div>
				<% end %>
</div>
</div>
<% if !var_hash.empty? -%>
<script type="text/javascript">
		var hash_size = <%=var_hash.size %>
		if (hash_size > 1 && hash_size <= 20) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
				<% if no_var_hash != nil -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							<% end -%>
							              <% end -%>

        var chart = new google.visualization.BarChart($('<%= row_name + "_expanded_stats_chart" -%>'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
	} else if (hash_size > 1) {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
				<% if no_var_hash != nil -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							              <% end -%>
							<% end -%>

        var chart = new google.visualization.ColumnChart($('<%= row_name + "_expanded_stats_chart" -%>'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
}
    </script>
<% end -%>
<script type="text/javascript">
	//setCheckedStatus('<%= row_name -%>');
</script>
</div>
