<%= javascript_include_tag "checkbox_update.js" -%>
<%= javascript_include_tag "variable_table_check.js" -%>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});
</script>
<div style="position: absolute; left:26em;">
          <%= image_tag method_to_icon_filename("large-spinner"), :id => "doing_stuff_spinner", :alt=>"working...", :title=>"working...", :style => "display: none; vertical-align: middle;",:height => '64', :width => '64' -%>
  </div>
<div id="survey_list">
<ul class="buttons">
<% @survey_types.each do |survey_type| %>
<li><%= link_to_remote survey_type.name, :url => { :action => "show_datasets_for_categories", :survey_type_id => survey_type.id }, :before => "Element.show('spinner')",:success => "Element.hide('spinner')" -%></li>
<% end %>
</ul>
</div>
<div>
  Select:
  <%= link_to_function 'All', "$$('input.survey_categories_checkbox').each(function(checkbox) { checkbox.checked = true; });" %>
  ,&nbsp
  <%= link_to_function 'None', "$$('input.survey_categories_checkbox').each(function(checkbox) { checkbox.checked = false; });" %>
  ,&nbsp
  <%= link_to_function 'Invert selection', "$$('input.survey_categories_checkbox').each(function(checkbox) { if (checkbox.checked == true) {checkbox.checked = false;} else {checkbox.checked = true; } });" %>
</div>
<div id="categories">
	<%= render :partial => "survey_categories", :locals => {:survey_type => @selected_survey.survey_type, :surveys => @surveys, :all_categories => @categories} -%>
</div>