<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag 'survey_checkbox.js' -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>

<% if !@surveys.empty? -%>
<div class="yui-skin-sam">
<div id="surveys_table"></div>
</div>
<% end -%>
<script type="text/javascript">
var results = <%= raw @surveys_json -%>;

YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.Basic = function() {
        var columnDefs = [
            { label: "", formatter: "checkbox"},
		    { key: "title", label: "Title", sortable: true, maxWidth: 100 },
		    { key: "description", label: "Description", sortable: true, width: 500 },
		    { key: "year", label: "Year", sortable: true, maxWidth: 100 },
		    { key: "type", label: "Type", sortable: true, maxWidth: 150 }
		];

        var dataSource = new YAHOO.util.LocalDataSource(results);
        dataSource.responseType = YAHOO.util.LocalDataSource.TYPE_JSARRAY;
        dataSource.responseSchema = {
            fields: ["id","title","description","year","type"]
        };

        this.dataTable = new YAHOO.widget.DataTable("surveys_table",
                columnDefs, dataSource, {caption:"List of all surveys"});
        return {
            oDS: dataSource,
            oDT: dataTable
        };
    }();
    this.dataTable.subscribe("checkboxClickEvent", function(oArgs){ 
	  var elCheckbox = oArgs.target; 
	  var oRecord = this.getRecord(elCheckbox); 
	  var id = oRecord.getData().id;
	  oRecord.setData("check",elCheckbox.checked); 
	});
});
</script>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
    uncheckAll();
  });
</script>
