<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag 'survey_checkbox.js' -%>
<%= javascript_include_tag 'yui_checkbox.js' -%>
<%= javascript_include_tag 'surveys_table.js' -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>
<style type="text/css">
/** 
*
* Style the yui-dt-expandablerow-trigger column 
*
**/
.yui-dt-expandablerow-trigger a {
	display:block;
	padding:20px 5px 0;
	cursor:pointer;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger a{
	background:url('/images/yui/dt-arrow-up.png') 0 6px no-repeat;
}
.yui-dt-expandablerow-trigger a, .yui-dt-collapsed .yui-dt-expandablerow-trigger a {
	background:url('/images/yui/dt-arrow-dn.png') 0 4px no-repeat;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger.spinner a {
	background:url('/images/yui/spinner.gif') 0 4px no-repeat;
	padding-right: 10px;
}
</style>
<% if !@surveys.empty? -%>
<% @surveys.each do |survey| -%>
  <% survey.datasets.each do |dataset| -%>
      <%= javascript_tag "addDatasetForSurvey(#{survey.id}, #{dataset.id})"-%>
  <% end -%>
<% end -%>
<% form_tag(search_variables_surveys_url, {:onSubmit=>"$('spinner').show();"}) do -%>
<div id="selected_datasets">
</div>
<div style="padding: 20px; font-size:larger;">Select one or more surveys to search by clicking on the appropriate check box next to the survey, then enter a search term and click the 'Search for variables' button. To view all the available datasets for a survey click the arrow next to the checkbox.</div>
<div style="text-align: center; padding-bottom:10px;">
<%= text_field_tag :survey_search_query, @search_query, :style=>"width: 50%; height: 25px;font: 17px arial,sans-serif; margin-right: 5px;", :title=>"Find variables based on the surveys and datasets you have selected" -%>
<%= submit_tag "Search for variables", :id=>"search_variables_button", :style=> "height: 25px;font: 17px arial,sans-serif;", :title=>"Find variables based on the surveys and datasets you have selected" -%>
</div>
<div>
<%= button_to_function 'Select all', "selectAllSurveyCheckboxes(true);", :title=>"Select all the surveys (from all pages)" -%>
<%= button_to_function 'Select none', "selectAllSurveyCheckboxes(false);", :title=>"De-select all the surveys (from all pages)" -%>
<%= button_to_function 'Invert selection', "invertAllSurveyCheckboxes();", :title=>"De-select currently selected surveys and vice-versa (from all pages)" -%>
</div>
<div style="margin-top:5px;">
<label for="filter">Filter by survey title:</label> <input type="text" id="filter" value="" title="Only show surveys with titles containing a particular piece of text"></input>
</div>
<div class="yui-skin-sam">
<div id="surveys_table"></div>
</div>
<% end  -%>
<% end -%>
<script type= "text/javascript">
var survey_results = <%= raw @surveys_json -%>;
createSurveyTable();
</script>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
    uncheckAll();
  });
</script>
