<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag 'survey_checkbox.js' -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>

<% if !@surveys.empty? -%>
<div class="yui-skin-sam">
<%= @surveys_json -%>
</div>
<% end -%>
<script type="text/javascript">
var columnDefs = [
    { key: "title", label: "Title", sortable: true },
    { key: "description", label: "Description", sortable: true },
    { key: "year", label: "Year", sortable: true },
    { key: "type", label: "Type", sortable: true }
];
// Defer instantiation
YAHOO.util.Event.addListener(window, "load", function() {
    var myDataTableDeferred = new YAHOO.widget.DataTable("survey_container", columnDefs, myDataSource);
});
</script>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
    uncheckAll();
  });
</script>
