<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag 'variable_table_check.js' -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});
</script>
<style type="text/css">
/** 
*
* Style the yui-dt-expandablerow-trigger column 
*
**/
.yui-dt-expandablerow-trigger a {
	display:block;
	padding:20px 5px 0;
	cursor:pointer;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger a{
	background:url('/images/yui/dt-arrow-up.png') 0 6px no-repeat;
}
.yui-dt-expandablerow-trigger a, .yui-dt-collapsed .yui-dt-expandablerow-trigger a {
	background:url('/images/yui/dt-arrow-dn.png') 0 4px no-repeat;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger.spinner a {
	background:url('/images/yui/spinner.gif') 0 4px no-repeat;
	padding-right: 10px;
}
</style>
<% form_tag({:url => { :action => "add_to_cart"}, :value=>"search"}, {:onSubmit=>"$('spinner').show();"}) do -%>
<% if !@selected_datasets.empty? %>
  <% @selected_datasets.each do |val| -%>
    <%= hidden_field_tag "entry_ids[]", val -%>
  <% end -%>
<% end -%>
<% if !@sorted_variables.empty? -%>
<div style="margin-bottom: 10px;">
<% if logged_in? -%>
<%= submit_to_remote '_submit', 'Add selected variables to cart', {:url=>{:action=> "add_to_cart", :value=>"add"}, :before => "if (!anyVariablesSelected()) {alert('There are no variables selected to add to your cart.  Please select some and try again.'); return false;} else {Element.show('spinner')}",:success => "Element.hide('spinner')", :class=>'add_var_button'} -%>
<% end -%>
<%= text_field_tag :survey_search_query, @survey_search_query, :style=>"width: 50%; height: 25px;font: 17px arial,sans-serif; margin-right:5px;margin-left: 2em;", :title=>"Find variables based on the surveys and datasets you have selected" -%>
<%= submit_tag "Search for variables", :style=> "height: 25px;font: 17px arial,sans-serif;", :title=>"Find variables based on the surveys and datasets you have selected" -%>
</div>
<div class="fold">
  <div class="foldTitle">Currently selected datasets (click to display)</div>
  <div class="foldContent" style="display:none;">
<% if !@datasets_with_results.empty? -%>
  <div>Datasets with search results (<%= @datasets_with_results.size -%>)
    <ol class="variable-suggestions">
      <% @datasets_with_results.each do |dataset| -%>
        <li style="list-style: none outside none;"><%= link_to Dataset.find(dataset).name, dataset_url(dataset) -%></li>
      <% end -%>
    </ol>
  </div>
<% else -%>
There were no search results
<% end -%>
<% if !@datasets_without_results.empty? -%>
  <div>Datasets with no search results (<%= @datasets_without_results.size -%>)
    <ol class="variable-suggestions">
      <% @datasets_without_results.each do |dataset| -%>
        <li style="list-style: none outside none;"><%= link_to Dataset.find(dataset).name, dataset_url(dataset) -%></li>
      <% end -%>
    </ol>
   </div>
<% else -%>
All datasets returned at least one search result
<% end -%>
  </div>
</div>
<div id="selected_variables">
</div>
<div class="yui-skin-sam">
<div id="variables_table"></div>
</div>
<% end -%>
<% end -%>
<script type= "text/javascript">
var results = <%= raw @variables_json -%>;

YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.Basic = function() {
	    var expansionFormatter  = function(el, oRecord, oColumn, oData) {
            var cell_element    = el.parentNode;

            //Set trigger
            if( oData ){ //Row is closed
                YAHOO.util.Dom.addClass( cell_element,
                    "yui-dt-expandablerow-trigger" );
            }

        };
        this.variablesURLFormatter = function(elLiner, oRecord, oColumn, oData) {
            var id = oRecord.getData().id;
            var name = oRecord.getData().name;
            elLiner.innerHTML = "<a href=\"" + variables_url + "/" + id + "\">" + name + "</a>";
        };
        // Add the custom formatter to the shortcuts
        YAHOO.widget.DataTable.Formatter.variablesFormatter = this.variablesURLFormatter;

        this.categoryURLFormatter = function(elLiner, oRecord, oColumn, oData) {
            var category = oRecord.getData().category;
            elLiner.innerHTML = "<a href=\"" + by_category_variables_url + "?category=" + category + "\">" + category + "</a>";
        };
        // Add the custom formatter to the shortcuts
        YAHOO.widget.DataTable.Formatter.categoryFormatter = this.categoryURLFormatter;

        var columnDefs = [
            { label: "", formatter: YAHOO.widget.VariableRowExpansionDataTable.formatRowExpansion},
            { label: "", formatter: "checkbox"},
		    { key: "name", label: "Title", formatter:"variablesFormatter", sortable: true, maxWidth: 100, minWidth: 100 },
		    { key: "description", label: "Description", sortable: true, width: 500, minWidth: 500 },
                    { key: "category", label: "Category", formatter:"categoryFormatter", sortable: true, maxWidth: 200, minWidth: 200 },
		    { key: "survey", label: "Survey", sortable: true, maxWidth: 200, minWidth: 200 },
		    { key: "popularity", label: "Popularity", sortable: true, maxWidth: 100, minWidth: 100 }
		];

        var dataSource = new YAHOO.util.LocalDataSource(results);
        dataSource.responseType = YAHOO.util.LocalDataSource.TYPE_JSON;
        dataSource.responseSchema = {
            resultsList : "results",
            fields: ["id","name","description","survey", "category","popularity"]
        };
        var pag = new YAHOO.widget.Paginator({rowsPerPage: 50, totalRecords: results.total_entries});
        this.dataTable = new YAHOO.widget.VariableRowExpansionDataTable("variables_table",
                columnDefs, dataSource, {sortedBy : { key: "name", dir: YAHOO.widget.DataTable.CLASS_ASC }, paginator : pag, rowExpansionTemplate :'{id}' });
	this.dataTable.subscribe( 'cellClickEvent', dataTable.onEventToggleRowExpansion );
        return {
            oDS: dataSource,
            oDT: dataTable
        };
    }();
    this.dataTable.subscribe("checkboxClickEvent", function(oArgs){
var elCheckbox = oArgs.target;
var newValue = elCheckbox.checked;
var record = this.getRecord(elCheckbox);
var column = this.getColumn(elCheckbox);
record.setData(column.key,newValue); 
	  ///var elCheckbox = oArgs.target; 
	  //var oRecord = this.getRecord(elCheckbox); 
	  var id = record.getData().id;
	  //oRecord.setData("check",elCheckbox.checked); 
          selectVariable(id);
	});

    //this.dataTable.doBeforeSortColumn = function(oColumn, sSortDir) {
     //                                   recheckSurveys();
      //                                   }
});
</script>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
    //uncheckAll();
  });
</script>
