<center>
<div style="width:15em;">
<div id="favourites_gadget" class="myexperiment_gadget">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
  <div class="header">
    Log in
</div>
<div class="contents">
        <% form_tag session_path do %>
          <%= hidden_field_tag "called_from[controller]", controller.controller_name -%>
          <%= hidden_field_tag "called_from[action]", controller.action_name -%>
          <%= hidden_field_tag "called_from[id]", params[:id] -%>
          <% if params[:entry_ids] -%>
            <%= hidden_field_tag "called_from[entry_ids]", params[:entry_ids].join(",").to_s -%>
            <%= hidden_field_tag "called_from[survey_search_query]", params[:survey_search_query] -%>
          <% end -%>  

          <div class="box1">
            <p style="font-size:1em;">
              Email:
            </p>
            <p>
              <%= text_field_tag 'login', nil, :class => 'field', :style => "width: 140px;" %>
            </p>
            <p style="font-size:1em;">
                  Password:
            </p>
            <p>
              <%= password_field_tag 'password', nil, :class => 'field', :style => "width: 140px;" %>
            </p>

            <p style="font-size:1em;">
              Remember me: <%= check_box_tag 'remember_me' %>
            </p>
          </div>

          <p>
            <%= submit_tag "Log in", :disable_with => "Logging in..." %>
          </p>

        <% end %>
        <br/>
        <p style="margin-top: 0.6em; line-height: 1.3em; font-size:1em;">
          <b><%= link_to "Forgotten password?", forgot_password_url %></b>
        </p>
</div>
  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>
</div>
</center>
