<table class="list_item">
	<tr>
		<td colspan=2>
				<p class="title center">
					<%= check_box_tag item.title + "_survey_ids[]", item.id,false,:onclick=>"selectAllDatasetsForYear(#{item.id}, false)", :title=> "Select/Unselect all datasets for this survey", :class=>'survey_checkbox', :id=>"#{item.id.to_s + '_survey_check'}"  %>
				      <% unless item.title.blank? -%>
				        <% title = h(item.title) -%>
				      <% else -%>
				        <span class="none_text">No title</span>
				      <% end -%>
				      <%= link_to(title, survey_path(item)) -%>
				</p>
			</td>
		</tr>
	  <tr>
	    <td>
	      <!-- <center><%#= contributor(item.asset.contributor, true, 60) -%></center> -->
	Has <%= item.datasets.size.to_s %> <%= item.datasets.size > 1 ? "datasets" : "dataset" -%>
		</td>
		<td>
			<p style="font-size: 85%; margin-top: 0.4em;">
	        <b>Created:</b>
	        <%= item.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
	      </p>
		</td>
		</tr>
		<tr>
			<td colspan=2>
			<div class="desc" style="font-size: 85%;">
	        <% unless item.description.blank? -%>
	          <%= truncate(white_list(item.description), :length=>500) -%>
	        <% else -%>
	          <span class="none_text">No description</span>
	        <% end -%>
	      </div>
			</td>
		</tr>
	</table>
	<div style="display:none;">
		<!-- <div> -->
	<% item.datasets.each do |dataset| -%>
        <%= check_box_tag "entry_ids[]", dataset.id, false, :onclick=>"checkSelectAllStatus(#{item.id.to_s},#{dataset.id.to_s})", :class=>'survey_checkbox', :id=>"#{item.id.to_s + '_' + dataset.id.to_s + '_survey_check'}" %>
		<%= javascript_tag "addDataset(#{item.id.to_s}, #{dataset.id.to_s})"-%>
	<% end %>
	</div>