<%= javascript_include_tag 'toggler.js' %>

<div id= "<%= row_name + "_expanded" -%>" style="display: <%= hidden ? "none":"inline" -%>">
  <div>
	<% if item.is_archived? %>
    	<ul class="faux_table_archived">
	<% else %>
	   	<ul class="faux_table<%= curr_cycle %>">
	<% end %>
      <li>
		<% if item.is_archived? %>
		<div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox',:disabled=>true,:id=>"#{row_name + '_checkbox'}" -%></div>
      <div class="col2"><%= link_to_remote(image_tag("folds/fold.png",:title=>"Hide details...",:alt=>"Hide details...", :border => 0), :url=>{:action => 'collapse_row', :controller => 'surveys', :id=>item.id, :curr_cycle => curr_cycle, :dataset=>dataset, :popularity => popularity, :lineage=>lineage, :extract_lineage =>extract_lineage, :extract_id=>extract_id}, :update=>row_name + "_expanded", :before=> "Element.show('spinner')",:success => "Element.hide('spinner')") -%></div>
		<% else %>
		<div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox', :onclick => "setTrueOrFalse()",:id=>"#{row_name + '_checkbox'}" -%></div>
      <div class="col2"><%= link_to_remote(image_tag("folds/fold.png",:title=>"Hide details...",:alt=>"Hide details...", :border => 0), :url=>{:action => 'collapse_row', :controller => 'surveys', :id=>item.id, :curr_cycle => curr_cycle, :dataset=>dataset, :popularity => popularity, :lineage=>lineage, :extract_lineage =>extract_lineage, :extract_id=>extract_id}, :update=>row_name + "_expanded", :before=> "Element.show('spinner')",:success => "Element.hide('spinner')") -%></div>
		<% end %>
	<% if item.is_archived? %>
	<% if item.name.size > 20 -%>
      <div class="col3"><%= link_to(item.hyphenName, variable_path(item), :title=>item.name) -%>(Archived)</div>
    <% else -%>
      <div class="col3"><%= link_to(item.name, variable_path(item)) -%>(Archived)</div>
    <% end -%>
	<% else %>
	<% if item.name.size > 20 -%>
      <div class="col3"><%= link_to(item.hyphenName, variable_path(item), :title=>item.name) -%></div>
    <% else -%>
      <div class="col3"><%= link_to(item.name, variable_path(item)) -%></div>
    <% end -%>
	<% end %>
 
        <div class="col4">
          <% if item.value != nil -%>
            <%= item.value -%>
          <% else -%>
            <%= "NO DESCRIPTION" -%>
          <% end -%>
        </div>
        <div class="col5">
          <% if item.category != nil -%>
            <%= link_to(item.category, by_category_variables_url(:category=>item.category),:title=>"Show all variables with this category") -%>
          <% else -%>
            <%= "NO CATEGORY" -%>
          <%  end -%>
        </div>
	       <div class="col6">
	        <%= dataset.survey.survey_type.shortname ? dataset.survey.survey_type.shortname : truncate(dataset.survey.title, 10, "...") -%>
	      </div>
	      <div class="col7">
	        <%= link_to dataset.name, dataset_url(dataset) -%>
	      </div>
	      <div class="col8">
			<% if dataset.survey.year != nil %>
		<!-- replace any '-' characters with space -->
	        <%= dataset.survey.year.tr('-',' ') -%>
			<% else %>
			<%= 'N/A' -%>
			<% end %>
	      </div>
	 <div class="col9">
        <%= popularity -%>
      </div>
</li>
    </ul>
  </div>
<div>
<%= render :partial => "variable_row_info", :locals => {:item => item, :extract_lineage => extract_lineage, :extract_id => extract_id, :lineage => lineage} %>
</div>

<% if item.nesstar_id -%>
	<% value_domain_hash = Hash.new %>
	<% var_hash = Hash.new %>
		<% item.value_domains.each do |value_domain| -%>
			<% if value_domain.value_domain_statistic -%>
			<% var_hash[value_domain.id] = value_domain.value_domain_statistic.frequency -%>
			<% end -%>
			<% value_domain_hash[value_domain.id] = value_domain.label %>
		<% end -%>
	<% valid_entries = item.valid_entries -%>
	<% invalid_entries = item.invalid_entries -%>
	<% total_entries = invalid_entries + valid_entries -%>
<% else -%>
<% no_var_hash = item.none_values_hash -%> 
<% var_hash = item.values_hash -%>
<% value_domain_hash = Hash.new %>
<% var_hash.each_key do |key| %>
	<% item.value_domains.each do |value_domain| %>
		<% if value_domain.value.to_i.eql?(key.to_i) %> 
			<% value_domain_hash[key] = value_domain.label %>
			<% break %>
		<% end %>
	<% end %>
<% end %>
<% blank_rows = item.number_of_blank_rows %>
<% invalid_entries = 0 -%>
<% no_var_hash.each_key do |key| %>
	<% item.value_domains.each do |value_domain| %>
		<% if value_domain.value.to_i.eql?(key.to_i) %> 
			<% value_domain_hash[key] = value_domain.label %>
			<% break %>
		<% else %>
			<% value_domain_hash[key] = key %>
		<% end %>
	<% end %>
	<% invalid_entries += no_var_hash[key] %>
<% end %>
<% invalid_entries += blank_rows -%>
<% valid_entries = 0 -%>
<% var_hash.each_key do |key| -%>
	<% valid_entries += var_hash[key] -%>
<% end -%>
<% no_var_hash.each_key do |key| -%>
	<% valid_entries += var_hash[key] -%>
<% end -%>
<% total_entries = invalid_entries + valid_entries -%>
<% if blank_rows != nil -%>
	<% total_entries += blank_rows -%>
<% end -%>
<!-- If there are no values then see if the value domains have any frequency stats - relevant to vars from nesstar ddi datasets -->
<% if var_hash.empty? %>
	<% item.value_domains.each do |value_domain| %>
		<% if value_domain.value_domain_statistic %>
			<% if value_domain.value_domain_statistic -%>
			<% var_hash[value_domain.value] = value_domain.value_domain_statistic.frequency -%>
			<% end -%>
			<% value_domain_hash[value_domain.value] = value_domain.label %>
		<% end %>
	<% end %>
<% end %>
<% end -%>
<div class="left" style="width:40%" id='<%= row_name + "_expanded_stats_chart" -%>'>
</div>
<div class="right variable_row_info" style="width:40%">
	<%= render :partial => "variable_row_stats_info", :locals=>{:item => item,:var_hash => var_hash, :no_var_hash => no_var_hash, :valid_entries => valid_entries, :invalid_entries => invalid_entries, :value_domain_hash => value_domain_hash, :total_entries => total_entries, :blank_rows => blank_rows} %>
</div>
<div style="clear:both">
</div>

  <br/>
<div>
	<% if current_user %>
	<h3>Comments</h3>
	  <%= render :partial => "comments/add_comment", :locals=>{:resource_id => item.id, :controller => 'Variables', :comment_div_id => 'comment_variable_' + item.id.to_s, :update_div_id =>'comment_variable_' + item.id.to_s + "_new_comment"} -%>
			<% item.comments.each do |comment| %>
			<%= render :partial => "comments/comment", :locals=>{:comment=>comment} %>
			<% end %>
			<div id="comment_variable_<%= item.id.to_s -%>_new_comment">
				</div>
				<% end %>
</div>
</div>
<% if !var_hash.empty? -%>
<script type="text/javascript">
		var hash_size = <%=var_hash.size %>
		if (hash_size > 1 && hash_size <= 20) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
				<% if no_var_hash != nil -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							<% end -%>
							              <% end -%>

        var chart = new google.visualization.BarChart($('<%= row_name + "_expanded_stats_chart" -%>'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
	} else if (hash_size > 1) {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Value');
        data.addColumn('number', 'Count');
              <% var_hash.sort.each do |value, frequency| -%>
				data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
				              <% end -%>
				<% if no_var_hash != nil -%>
							              <% no_var_hash.sort.each do |value, frequency| -%>
							data.addRow(['<%= value_domain_hash[value] ? escape_javascript(value_domain_hash[value].to_s) : escape_javascript(value.to_s) %>', <%= frequency %>]);
							              <% end -%>
							<% end -%>

        var chart = new google.visualization.ColumnChart($('<%= row_name + "_expanded_stats_chart" -%>'));
        chart.draw(data, {width: 500, height: 200, is3D: true});
}
    </script>
<% end -%>
<script type="text/javascript">
	setCheckedStatus('<%= row_name -%>');
</script>
</div>
