
<div id= "<%=item.name + item.dataset_id.to_s -%>">
  <ul class="faux_table<%= curr_cycle %>">
    <li><div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox', :onclick => "setTrueOrFalse()",:id=>"#{item.name + item.dataset_id.to_s + '_checkbox'}" -%></div>
      <div class="col2"><%= image_tag("folds/unfold.png",:title=>"More details...",:alt=>"More details...", :border => 0, :onclick=>"javascript:if ($('#{item.name + item.dataset_id.to_s + '_checkbox'}').checked == true) {$('#{item.name + item.dataset_id.to_s + '_expanded_checkbox'}').checked =true} else {$('#{item.name + item.dataset_id.to_s + '_expanded_checkbox'}').checked=false};Field.disable('#{item.name + item.dataset_id.to_s + '_checkbox'}');Field.enable('#{item.name + item.dataset_id.to_s + '_expanded_checkbox'}');Element.hide($('#{item.name + item.dataset_id.to_s}'));Element.show($('#{item.name + item.dataset_id.to_s + '_expanded'}'));") -%></div>
      <% if item.name.size > 20 -%>
        <div class="col3"><%= link_to(item.hyphenName, variable_path(item), :title=>item.name) -%></div>
      <% else -%>
        <div class="col3"><%= link_to(item.name, variable_path(item)) -%></div>
      <% end -%>  
      <div class="col4">
        <% if item.value != nil -%>
          <%= item.value -%>
        <% else -%>
          <%= "NO DESCRIPTION" -%>
        <% end -%>
      </div>
      <div class="col5">
        <% if item.category != nil -%>
          <%= link_to(item.category, by_category_variables_url(:category=>item.category),:title=>"Show all variables with this category") -%>
        <% else -%>
          <%= "NO CATEGORY" -%>
        <% end -%>
      </div>
       <div class="col6">
        <%= dataset.survey.surveytype -%>
      </div>
      <div class="col7">
        <%= link_to dataset.name, dataset_url(dataset) -%>
      </div>
      <div class="col8">
	<!-- replace any '-' characters with space -->
        <%= dataset.survey.year.tr('-',' ') -%>
      </div>
	 <div class="col9">
        <%= popularity -%>
      </div>
    </li>
  </ul>
</div>
