
<div id= "<%=item.name + item.survey_id.to_s -%>">
  <ul class="faux_table<%= cycle("_even","_odd") %>">
    <li><div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox' %></div>
      <div class="col2"><%= link_to_remote(image_tag("folds/unfold.png", :title=>"More details...",:alt=>"More details...", :border => 0), :url=> more_info_surveys_url(:curr_cycle => current_cycle, :div_id=>item.name + item.survey_id.to_s,:item_id => item.id))%></div>
      <div class="col3"><%= link_to(item.name, variable_path(item)) -%></div>
      <div class="col4"><%= item.value -%></div>
      <div class="col5"><%= link_to(item.category, by_category_variables_url(:category=>item.category)) -%></div>
      <div class="col6"><%= Survey.find(item.survey_id).surveytype -%></div>
    <div class="col7"><%= Survey.find(item.survey_id).year -%> </div></li>
  </ul>
</div>