
<div id= "<%=item.name + item.dataset_id.to_s -%>">
  <ul class="faux_table<%= cycle("_even","_odd") %>">
    <li><div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox', :onclick => "setTrueOrFalse()" -%></div>
      <div class="col2"><%= link_to_remote(image_tag("folds/unfold.png",:title=>"More details...",:alt=>"More details...", :border => 0), :url=> more_info_surveys_url(:curr_cycle => current_cycle, :div_id=>item.name + item.dataset_id.to_s,:item_id => item.id), :complete=> "checkTrueOrFalse()")%></div>
      <div class="col3"><%= link_to(item.name, variable_path(item)) -%></div>
      <div class="col4">
        <% if item.value != nil -%>
          <%= item.value -%>
        <% else -%>
          <%= "NO DESCRIPTION" -%>
        <% end -%>
      </div>
      <div class="col5">
        <% if item.category != nil -%>
          <%= link_to(item.category, by_category_variables_url(:category=>item.category),:title=>"Show all variables with this category") -%>
        <% else -%>
          <%= "NO CATEGORY" -%>
        <% end -%>
      </div>
      <div class="col6">
        <%= Dataset.find(item.dataset_id).survey.surveytype -%>
      </div>
      <div class="col7">
        <%= Dataset.find(item.dataset_id).name -%>
      </div>
      <div class="col8">
        <%= Dataset.find(item.dataset_id).survey.year -%>
      </div>
    </li>
  </ul>
</div>
