<%= javascript_include_tag 'toggler.js' %>

<div id= "<%=item.name + item.dataset_id.to_s -%>">
  <div>
    <ul class="faux_table<%= curr_cycle -%>">
      <li>
        <div class="col1"><%= check_box_tag "variable_ids[]", item.id,false, :class=>'variable_checkbox' %></div>
        <div class="col2"><%= link_to_remote(image_tag("folds/unfold.png", :title=>"More details...",:alt=>"More details...", :border => 0), :url=> hide_info_surveys_url(:curr_cycle => current_cycle, :div_id=>item.name + item.dataset_id.to_s,:item_id => item.id))%></div>
        <div class="col3"><%= link_to(item.name, variable_path(item)) -%></div>
        <div class="col4"><%= item.value -%></div>
        <div class="col5"><%= link_to(item.category, by_category_variables_url(:category=>item.category),:title=>"Show all variables with this category") -%></div>
        <div class="col6"><%= Dataset.find(item.dataset_id).survey.surveytype -%></div>
        <div class="col7"><%= Dataset.find(item.dataset_id).name -%></div>
        <div class="col8"><%= Dataset.find(item.dataset_id).survey.year -%> </div></li>
    </ul>
  </div>
  <div>
    <% if item.category != nil -%>
      <div style="width:875px;margin:auto;">Category: <%= item.category -%></div>
    <% else -%>
      <div style="width:875px;margin:auto;color:red;">No category recorded for this variable</div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% if item.dertype != nil -%>
      <div style="width:875px;margin:auto;">Derivation type: <%= item.dertype -%></div>
    <% else -%>
      <div style="width:875px;margin:auto;color:red;">No derivation recorded for this variable</div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% if item.dermethod != nil -%>
      <div style="width:875px;margin:auto;">Derivation method:</div>
      <div style="width:875px;margin:auto;border:0.2em solid #ACCBE0;"><pre><%=  item.dermethod -%></pre></div>
    <% else -%>
      <div style="width:875px;margin:auto;color:red;">No derivation method recorded for this variable</div>
    <% end -%>
  </div>
  <br/>
  <div>
    <% if item.info != nil -%>
      <div style="width:875px;margin:auto;">Value information:</div>
      <div style="width:875px;margin:auto;border:0.2em solid #ACCBE0;"><pre><%= item.info -%></pre></div>
    <% else -%>
      <div style="width:875px;margin:auto;color:red;">No value information recorded for this variable</div>
    <% end -%>
  </div>
  <div>
    <% if !item.variable_links.empty? -%>
      <div style="width:875px;margin:auto;">Linked to:</div>
      <div style="width:875px;margin:auto;border:0.2em solid #ACCBE0;">
        <% item.variable_links.each do |link| -%>
          <% link.variables.each do |var| -%>
            <% if item.id != var.id -%>
              <%= link_to(var.name, variable_path(var))-%>
            <% end -%>
          <% end -%>
        <% end -%>
      </div>
    <% else -%>
      <div style="width:875px;margin:auto;color:red;">No links recorded for this variable</div>
    <% end -%>
  </div>
  <br/>
<%#*<div style="width:680px;margin:auto;">%>
<%# unless item.title_counts.empty? %>
<%#*<b>Tags: </b>%>


<%#*<b>|</b>%>
<%# item.title_counts.each do |tag| %>
<%#= link_to tag.name, variables_url(:variable=>tag.name), :title=>"Search for other variables with tag " + tag.name -%>
<%#*<b>|</b>%>
<%# end -%>



<%# else %>
<%#*<b>Tags: </b>none%>
<%# end %>
<%#*</div>%>
  <br/>
<%#*<div style="width:680px;margin:auto;">%>
<%# if !Person.find(current_user.person_id).watched_variables.any?{|var| var.variable_id == item.id} %>
<%#= image_submit_tag('famfamfam_silk/camera_add.png', :alt=> 'Watch variable', :title=>'Watch variable', :onclick=>"Form.getInputs(this.form, null,'variable_identifier')[0].value = '#{item.id.to_s}';Form.getInputs(this.form, null,'watch_variable')[0].value = 'true';Form.getInputs(this.form, null,'year_of_survey')[0].value = 'survey_year'") -%>
<%# else %>
<%#= image_submit_tag('famfamfam_silk/camera_delete.png', :alt=> 'Stop watching variable', :title=>'Stop watching variable', :onclick=>"Form.getInputs(this.form, null,'variable_identifier')[0].value = '#{item.id.to_s}';Form.getInputs(this.form, null,'watch_variable')[0].value = 'delete';Form.getInputs(this.form, null,'year_of_survey')[0].value = 'survey_year'") -%>
<%#*<i> You are watching this variable</i>%>
<%#*</div>%>

<%# end %>

</div>
