<%= javascript_include_tag "sharing.js" -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>

<ul class="sectionIcons">
  <!--<li><%#= icon "new", new_survey_path, "Upload New Survey", nil, "Upload New Survey" %></li>-->
  <!-- <li><%#= icon "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
</ul>
<div class="show_basic" style="padding-right: 2em;">
  <div id="survey_selector">
<%# form_remote_tag(:update => "table", :url => '/surveys/view_variables',:complete =>"Element.toggle('survey_selector');Element.toggle('variable_selector')") do -%>
    <% form_tag(:action => "search_variables") do -%>
      <b>Select one or more surveys to search</b><br/><br/>
      <div style="position: relative;background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;width:100%;height:60px;">
        <div style="position: absolute; ;top:1em;left:1em"><%= text_field_tag :survey_search_query, @survey_search_query %>
          <%= submit_tag 'Search selected surveys',:id => "search_button" %>
        </div>
  <%#*<div class="click_box_div" style="width:100px;height:30px;background-color:#00CC00;position: absolute; top:1em; right:1em;">%>
  <%#*<li class="click_box"><a href=""><span class="click_box_title">Variable Cart box</span></a></li>%>
  <%#*</div>%>

  <%#*<div class="cssnav" style="position: absolute; top:1em; right:1em;">%>
  <%#*<a href="http://www.URL.com" title="Go to my variable cart">%>
  <%#*<img src="/images/downbtn.jpg" alt="Alternative text" />%>
  <%#= image_tag("famfamfam_silk/cart.png", :border => 0,:height => '32', :width => '32') -%>
  <%#*<span>%>
  <%#= session[:cart].items.size -%>
  <%#*variables%>
  <%#*</span></a>%>
  <%#*</div>%>
        <div id="cart_button" style="position: absolute; top:1em; right:1em;">
          <%= render :partial => "cart_button" -%>
        </div>
  <%#*<ul class="sectionIcons" style="position: absolute; top:1em; right:1em;">%>
  <%#*<li>%>
  <%#= icon('edit', cart_path, "View Cart", nil, session[:cart].items.size.to_s + " Variables") -%>
  <%#*</li>%>
  <%#*</ul>%>

  <%#*<br/>%>
        <div style="position: absolute; bottom:1em; left:1em;">Select:
          <%= link_to_function 'All', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = true; });" %>
          ,&nbsp
          <%= link_to_function 'None', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = false; });" %>
          ,&nbsp
          <%= link_to_function 'Invert selection', "$$('input.survey_checkbox').each(function(checkbox) { { checkbox.checked = !checkbox.checked } });" %>
        </div>
      </div><br/><br/>


      <% if @surveys.public_methods.include?("page_count") %>
        <!-- only do the page links if the collection supports it -->
    <%#= render :partial => "layouts/paginate", :locals => { :collection => @surveys } -%>
      <% end %>

  <%#= render :partial => "assets/resource_list", :locals => { :collection => @surveys, :authorization_for_showing_already_done=>true } %>
      <div class="tabber">
        <% @survey_hash.each_key do |key| -%>
          <div class="tabbertab">
            <h3>
              <%= key -%>

            </h3>
            <%#*<div class="survey_type_box">%>
                          <div>

              <%#*<b class="spiffy"><b class="spiffy1"><b></b></b><b class="spiffy2"><b></b></b><b class="spiffy3"></b><b class="spiffy4"></b><b class="spiffy5"></b></b>%>
              <%= render :partial => "single_survey_check", :locals => { :key => key, :collection => @survey_hash, :selected => Array.new, :authorization_for_showing_already_done=>true }  %>
              <%#*<b class="spiffy"><b class="spiffy5"></b><b class="spiffy4"></b><b class="spiffy3"></b><b class="spiffy2"><b></b></b><b class="spiffy1"><b></b></b></b>%>
            </div>
          <% end -%>
        </div>
      <% end -%>
    </div>
    <br class="clear"/><br/>
    <div id="table"></div>

  </div>
</div>

