
<ul class="sectionIcons">
  <!--<li><%#= icon "new", new_survey_path, "Upload New Survey", nil, "Upload New Survey" %></li>-->
  <!-- <li><%#= icon "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
</ul>
<div class="show_basic">
<div id="survey_selector">
<%# form_remote_tag(:update => "table", :url => '/surveys/view_variables',:complete =>"Element.toggle('survey_selector');Element.toggle('variable_selector')") do -%>
  <% form_tag('/surveys/view_variables') do -%>
    <b>Select one or more surveys to search</b><br/><br/>
 <div style="background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;" width="100%">
      <div><%= submit_tag 'Search selected surveys' %>
	</div><br/>
	<div>Select:
        <%= link_to_function 'All', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = true; });" %>
        ,&nbsp
        <%= link_to_function 'None', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
	</div><br/><br/>


  <% if @surveys.public_methods.include?("page_count") %>
    <!-- only do the page links if the collection supports it -->
    <%= render :partial => "layouts/paginate", :locals => { :collection => @surveys } -%>
  <% end %>

      <%= render :partial => "assets/resource_list", :locals => { :collection => @surveys, :authorization_for_showing_already_done=>true } %>

  <% if @surveys.public_methods.include?("page_count") %>
    <!-- only do the page links if the collection supports it -->
    <%= render :partial => "layouts/paginate", :locals => { :collection => @surveys } -%>
  <% end %>
  <br/><br/>
 <div style="background-color:#ACCBE0;padding-top:5px;padding-bottom:5px;padding-left:5px;" width="100%">
      <div><%= submit_tag 'Search selected surveys' %>
	</div><br/>
	<div>Select:
        <%= link_to_function 'All', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = true; });" %>
        ,&nbsp
        <%= link_to_function 'None', "$$('input.survey_checkbox').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
	</div>
    <% end -%>
</div>
</div>
<%#*<div class="fold" id="variable_selector" style="display:none;">%>
  <%#*<div class="foldTitle">Variables for selected Data Sets</div>%>
  <%#*<div class="foldContent">%>
    <%#*<div class="show_basic">%>
        <%#*<div id="table">%>
          <%#= render :partial => "view_variables", :locals => { :collection => @variables } %>
      <%#*</div>%>
    <%#*</div>%>
  <%#*</div>%>
<%#*</div>%>
