<%= javascript_include_tag "sharing.js" -%>

<h1>New Survey</h1>

<div class="show_basic">
  <% form_tag({:action => :create}, :multipart => true) do -%>
    <%= error_messages_for :survey -%>

    <center>
      <div style="width: 60%;">

<p>
	<b>Survey type</b>
			<%= select_tag 'survey[survey_type]' ,options_from_collection_for_select(@survey_types, 'id', 'shortname')
			 -%>
			</p>
			<p>
			Or
			</p>
			<p>
			<b>New</b>
			<%= text_field_tag 'survey_type_name', 'Enter full survey name here', :style => "width: 100%;" -%>
			<%= text_field_tag 'survey_type_shortname', 'Enter short survey name here', :style => "width: 40%;" -%>
			<%= text_area_tag 'survey_type_description', 'Enter a description of the new survey type here', :style => "width: 100%;", :rows => 5 -%>
				</p>
		        <p style="margin-top: 0.5em;">
		          <b>Title:</b><br/>
		          <%= text_area_tag 'survey[title]', 'Enter the name of the survey here', :style => "width: 100%;", :rows => 5 -%>
		        </p>
        <p style="margin-top: 0.5em;">
          <b>Description:</b><br/>
          <%= text_area_tag 'survey[description]', 'Enter a description of the survey here', :style => "width: 100%;", :rows => 5 -%>
        </p>
        <p style="margin-top: 0.5em;">
          <b>Year:</b><br/>
          <%= text_field_tag 'survey[year]', 'Enter the year of the survey here', :style => "width: 40%;" -%>
        </p>

        <%#= render :partial => "assets/project_selector", :locals => { :resource_type => "Survey",   # this is only for presentation, not for any processing
          :project_hash => current_user.generate_own_project_id_name_hash } -%>

      </div>

    </center>




    <!-- <p style="margin: 2.5em 0 0 0;"> -->
      <%#= render :partial => "assets/sharing_form" -%>
    <!-- </p> -->

    <!-- <p style="margin: 0;"> -->
      <%#= render :partial => "assets/attribution_form", :locals => { :resource_type => "Survey",  # this is only for presentation, not for any processing
        :existing_attributions => [],
        :attribution_suggestions => Survey.get_all_as_json(current_user) } -%>
    <!-- </p> -->

    <p style="text-align: center; margin-top: 1.5em;">
      <%= submit_tag "Upload and Save", :id => "survey_submit_btn", :onclick => "javascript: validateSurveyFields(true); return(false);" -%> or <%= link_to 'Cancel', surveys_path -%>
    </p>
  <% end -%>
</div>
