<% truncate_length_for_boxes = 22 -%>

<!-- We might need these buttons in the future if users can upload there own surveys -->
<%#*<ul class="sectionIcons">%>
<%# if Authorization.is_authorized?("manage", nil, @survey, current_user) -%>
<%#*<li>%>
<%#= icon('manage', edit_survey_path(@survey), nil, nil, 'Manage Survey') -%>
<%#*</li>%>
<%# elsif Authorization.is_authorized?("edit", nil, @survey, current_user) -%>
<%# this is not owner, but current user can edit -%>
<%#*<li>%>
<%#= icon('edit', edit_survey_path(@survey), nil, nil, 'Edit Survey') -%>
<%#*</li>%>
<%# end -%>

<%# if Authorization.is_authorized?("destroy", nil, @survey, current_user) -%>
<%#*<li><%= icon('destroy', survey_path(@survey), nil, { :confirm => 'This deletes the Survey and all metadata. Are you sure?', :method => :delete }, 'Delete Survey')
<%# end -%>

<%# if Authorization.is_authorized?("download", nil, @survey, current_user) -%>
<%#*<li>%>
<%#= icon('download', download_survey_url, "Download Survey", nil, "Download Survey") -%>
<%#*</li>%>
<%# else -%>
<%#*<li>%>
<%#*<li>%>
<%#= render :partial=>"assets/request_resource",:locals=>{:resource=>@survey} %>
<%#*</li>%>
<%#*</li>%>
<%# end -%>
<%#*</ul>%>

<ul class="sectionIcons">
<% if current_user && current_user.is_admin? -%>
<li>
	<%= link_to "Add new dataset to this survey", {:action => "new", :controller=> "datasets",:survey => @survey.id} -%>
<%#= icon('manage', new_dataset_path, nil, {:survey => @survey.id}, 'Add new dataset to this survey') -%>
</li>
<% end -%>
</ul>

<h1 class="contribution_title">Survey: <%= h(@survey.title) -%></h1>

<!-- This might be needed for future upload reasons -->
<%#= render :partial => "assets/resource_datetime_info", :locals => { :resource => @survey } -%>


<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%=h @survey.title -%></span>
      </p>
      <p>
        <b>Type:</b>
        <%=h @survey.survey_type.shortname -%>
      </p>

<!-- This might be needed for future upload reasons -->
<%#*<p>%>
<%#*<b>File name:</b>%>
<%#=h @survey.original_filename -%>
<%#*</p>%>

<%#*<p>%>
<%#*<b>Format:</b>%>
<%#=h @survey.content_type -%>
<%#*</p>%>

      <p>
        <b>Description</b>
        <% unless @survey.description.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@survey.description)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>
      <p>
        <b>Child Datasets:</b>
        <% if !@survey.datasets.empty? -%>

          <% @survey.datasets.each do |dataset| -%>
            <%= link_to(h(dataset.name), dataset_path(dataset)) -%>
          <% end -%>
        <% else -%>
          None
        <% end -%>
      </p>
<!--  should people get to see the links even of not logged in? what difference does it make? -->
<%# if logged_in? -%>
      <br/>
<% if logged_in? %>
	<div class="link_box">
	Show: 
	<%= link_to_remote "Only my links", :url=> show_links_surveys_path, :with=> "'link_state=mine&survey_id=#{@survey.id}'" %>, 
	<%= link_to_remote "All links", :url=> show_links_surveys_path, :with=> "'link_state=all&survey_id=#{@survey.id}'" %>
	</div>
	<% end -%>
		<div class="actual_link_box">

	  <div id="links">
      <b>Linked with Data Extracts(s):</b>
      <% if !@archives.empty? -%>

        <% @archives.each do |archive| -%>
          <%= link_to(archive.title, csvarchive_path(archive)) -%>
        <% end -%>
      <% else -%>
        None
      <% end -%>
      <br/>
	<br/>
      <b>Linked with Script(s):</b>
		<% if !@scripts.empty? -%>
        <% @scripts.each do |script| -%>
          <%= link_to(script.title, script_path(script)) -%>
        <% end -%>
      <% else -%>
        None
      <% end -%>
</div>
</div>
<!-- no survey link to publications yet, maybe in the future -->
      <!-- <br/> -->
      <!-- <br/> -->
	<!-- <b>Linked with Publications(s):</b> -->
		<%# if !@publications.empty? -%>
        <%# @publications.each do |publication| -%>
          <%#= link_to(publication.title, publication_path(publication)) -%>
        <%# end -%>
      <%# else -%>
        <!-- None -->
      <%# end -%>
      <br/>
      <br/>
<%# end -%>
      <br/>
<% if @survey.UKDA_summary || @survey.headline_report -%>
      <p>
        <b>Further information</b>
      <div class="box_standout">        
<% if @survey.UKDA_summary -%>
        <a href="<%= @survey.UKDA_summary%>">ESDS Summary</a><br/>
<% end -%>
        <% if @survey.headline_report -%>
          <a href="<%= @survey.headline_report%>">Headline Report</a>
        <% end -%>  
<% end -%>
      </div>
<br/>
<% if logged_in? -%>
<% if @forum != nil -%>
<b>Forum</b>

	<div class="box_standout">
		<%= link_to h("View the forum"), forum_path(@forum), :class => "title" %>
    </div>
<% end -%>
<% if @forum != nil -%>
      <% if @forum.recent_post -%>
	<div class="box_standout">
		<b>Recent forum activity</b>
		<br/>
		<br/>
        <%= time_ago_in_words(@forum.recent_post.created_at) -%><br />
        <%= '{user}'[:by_user,"<strong>#{h(@forum.recent_post.user.display_name)}</strong>"] -%>
		replied <strong><%= @forum.recent_post.body -%></strong>
		to <strong><%= @forum.recent_post.topic.title -%></strong>
        <span>(<%= link_to 'view'[], forum_topic_path(:forum_id => @forum, :id => @forum.recent_post.topic_id, :page => @forum.recent_post.topic.last_page, :anchor => @forum.recent_post.dom_id) -%>)</span>
</div>
      <% end -%>
<% end -%>
<% end -%>
      </p>
    </div>
  </div>
<!-- This might be needed for future upload reasons -->
  <!-- <div class="main_content_right_box"> -->
<%#= render :partial => "assets/resource_original_uploader_box", :locals => { :resource => @survey } -%>
<%#= render :partial => "assets/resource_attributions_box", :locals => { :resource => @survey, :attributed_to => Authorization.authorize_collection("show", @survey.attributions_objects, current_user, true), :truncate_to => truncate_length_for_boxes } -%>
  <!-- </div> -->

  <div style="clear:both;">
  </div>

</div>