<ul class="sectionIcons">
  <% if @group.user == current_user -%>
    <li><%= icon('edit', edit_work_group_path(@group), nil, nil, 'Edit Group') -%></li>
    <li><%= icon('destroy', script_path(@group), nil, { :confirm => 'This deletes the group and all metadata. Are you sure?', :method => :delete }, 'Delete Group') -%></li>
  <% end -%>
</ul>

<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <b>Name:</b>
        <span class="title"><%=h @group.name -%></span>
      </p>
      <br/>
      <p>
        <b>Description</b>
        <% unless @group.info.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@group.info)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>
      <br/>
	<p>
        <b>Owner:</b><%= link_to(@group.user.person.name, person_path(@group.user.person)) -%>
      </p>
      <br/>
  <% if @group.user == current_user || @group.person_ids.include?(current_user.id)-%>
      <b>People in this group:</b>
		<% if !@group.people.empty? -%>
        <% @group.people.each do |member| -%>
          <%= link_to(member.name, person_path(member)) -%>
        <% end -%>
      <% else -%>
        None
      <% end -%>
<% end -%>
    </div>
  </div>
</div>

<div style="clear:both;">
</div>