<% variable=item -%>
<% truncate_projects_institutions_length = 25 -%>

<div class="list_items_container">
  <table class="list_item">
    <tr>

      <td class="item_details">
        <p class="name">
          <%= link_to(variable.name, variable_url(variable)) -%>
        </p>

        <div class="box_standout">
          <%= variable.value %>
        </div>

          <p class="email">
            <label><%= SURVEY -%>: </label>
            <%= link_to(variable.dataset.survey.title, survey_url(variable.dataset.survey)) %>
          </p>

          <p class="web_page">
            <label>Year:</label>
            <%= variable.dataset.survey.year  %>
          </p>

      </td>

    </tr>
  </table>


</div>
