<%= javascript_include_tag "checkbox_update.js" -%>
<%= javascript_include_tag "variable_table_check.js" -%>
<%= stylesheet_link_tag 'survey_ul'%>
<%= stylesheet_link_tag 'faux_table'%>
<%= render :partial =>  "surveys/total_vars" %>
<div id="table_header" class="faux_table_header_container ignore_asset_styles">
      <%= render :partial => "surveys/table_header", :locals=>{:sorted_variables => variables} -%>
</div>
<div id="table_container" class="faux_table_container">
      <%= render :partial => "surveys/table", :locals=>{:sorted_variables => variables ,:lineage => false, :extract_lineage => false, :extract_id => nil} -%>
</div>