<table class='listings_table'>
<tr><td>Total Records</td><td id="<%= variable.id.to_s -%>_total_entries"></td></tr>
<tr><td>Blank records</td><td id="<%= variable.id.to_s -%>_blank_rows"></td></tr>
<tr><td>Missing values</td><td id="<%= variable.id.to_s -%>_missing_values"></td></tr>
</table>
<table class='listings_table'>
<% if !var_hash.empty? && var_hash.size < 20 %>
<thead>
<tr><th>Value Name</th><th>Number of entries</th><th>Percentage of total</th></tr>
</thead>
<% end %>
<tbody>
<% if var_hash.size < 20 %>
<% unless total_entries == 0 or total_entries == nil -%>
<% var_hash.each_key do |key| -%>
	<tr><td><%= value_domain_hash[key] ?  value_domain_hash[key] : key -%></td><td><%= var_hash[key] -%></td><td><%= (var_hash[key].to_f/total_entries.to_f * 100).round(2) -%>%</td></tr>
<% end -%>
<% end -%>  
<% if !variable.nesstar_id -%>
<% unless total_entries == 0 or total_entries == nil -%>
<% no_var_hash.each_key do |key| -%>
	<tr><td><%= value_domain_hash[key] ?  value_domain_hash[key] : key -%></td><td><%= no_var_hash[key] -%></td><td><%= (no_var_hash[key].to_f/total_entries.to_f * 100).round(2) -%>%</td></tr>
<% end -%>
<% end -%>
<% end -%>
<% end %>
</tbody>
</table>
<div class="yui-skin-sam">
<div id="<%= variable.id.to_s -%>_values_table"></div>
</div>
