<div class="right">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="<%= HTTPS_ON ? 'https' : 'http' -%>://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e9c397f37867286"></script>
<!-- AddThis Button END -->
<%#= addthis_bookmark_button(variable_url(@variable), @variable.name + " from " + @variable.dataset.name) -%>
</div>
<% form_tag({:url => {:action => "add_to_cart"}, :value=>"search"}, {:onSubmit=>"$('spinner').show();"}) do -%>
<ul class="buttons">
<% if logged_in? && !@variable.is_archived? -%>
<%= hidden_field_tag 'variable_ids[]', @variable.id -%>
<%= submit_to_remote '_submit', 'Add variable to cart', {:url=>{:action=> "add_to_cart", :value=>"add"}, :before => "Element.show('spinner')",:success => "Element.hide('spinner')", :class=>'add_var_button'} -%>
<% end -%>
</ul>
<% if @variable.is_archived? %>
<h1 style="background-color: red;">THIS VARIABLE HAS BEEN ARCHIVED</h1>
	<p><b>Archived by:
		<div class="box_standout">
          <%= link_to User.find(@variable.archived_by).person.name, person_path(User.find(@variable.archived_by).person) -%> on <%= h @variable.archived_on.strftime('%d/%m/%Y @ %H:%M:%S') -%>
        </div>
</p>
<br/>
		<p><b>Reason:
					        <% unless @variable.archived_reason.blank? -%>
			<div class="box_standout">
				<%= @variable.archived_reason -%>
				</div>
				<% else %>
				<% end %>
		</p>
	<% end -%>
<h1 class="contribution_title">Variable: <%= link_to(h(@variable.name), variable_path(@variable)) -%></h1>
<div class="show_basic">
  <!-- <div class="main_content_left_box"> -->
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%=h @variable.name -%></span>
      </p>
      <br/>

      <p>
        <b>Description:</b>
        <% unless @variable.value.blank? -%>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.value)) -%>
        </div>
      <% else -%>
        <p class="none_text">
          No description
        </p>
      <% end -%>
      </p>
      <p>
        <% unless @variable.document.blank? -%>
        <b>Documentation:</b>
        <div class="box_standout">
          <%= link_to(@variable.document + ", page " + @variable.page, open_pdf_variable_url(@variable) + "#page=" + @variable.page,:title=>"Open the PDF document with information about this variable") -%>
        </div>
      <% end -%>
      </p>

      <p>
        <% unless @variable.category.blank? -%>
        <b>Category:</b>
        <div class="box_standout">
          <%= link_to(@variable.category, by_category_variables_url(:category=>@variable.category),:title=>"Show all variables with this category") -%>
        </div>
      <% end -%>
      </p>
      <p>
        <% unless @variable.dertype.blank? -%>
        <b>Variable source:</b>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dertype)) -%>
        </div>
      <% end -%>
      </p>
      <p>
        <% unless @variable.dermethod.blank? -%>
        <b>Derivation method:</b>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.dermethod)) -%>
        </div>
      <% end -%>
      </p>
      <p>
        <% if !@variable.info.blank? -%>
        <b>Allowed values:</b>
        <div class="box_standout">
          <%= simple_format(white_list(@variable.info)) -%>
        </div>
      <% elsif !@variable.value_domains.empty? -%>
	<table class='listings_table'>
		<thead>
			<tr><th>Label</th><th>Value</th></tr>
		</thead>
		<tbody>
        	<% @variable.value_domains.each do |value_domain| -%>
           		<tr><td><%= value_domain.label -%></td><td><%= value_domain.value -%></td></tr>
        	<% end -%>
		</tbody>
	</table>
      <% end -%>
      </p>
        <b>Dataset:</b>
      <div class="box_standout">
        <%= link_to(Dataset.find(@variable.dataset_id).name, dataset_url(Dataset.find(@variable.dataset_id))) -%>
      </div>
      </p>
      <p>
        <b>Survey:</b>
      <div class="box_standout">
        <%= link_to(Dataset.find(@variable.dataset_id).survey.title, survey_url(Dataset.find(@variable.dataset_id).survey)) -%>
      </div>
      </p>
<% if @variable.nesstar_id && @variable.dataset.nesstar_uri.include?("esds") -%>
	<p><b>More information:</b><%= link_to(image_tag('sqb_big.jpg', :alt=>"View information about this variable on the Survey Question Bank website", :size=>"100x100", :style=>"vertical-align:top;"), 'http://www.surveynet.ac.uk/sqb/qb/questiondetail.asp?sn=' +  @variable.dataset.nesstar_id.split('-')[0] + '&varid=' + @variable.nesstar_id, {:confirm=> "This is a third party resource and has not been verified by MethodBox.", :title=>"View information about this variable on the Survey Question Bank website"})-%></p>
<% end -%>

      <p>
        <b>Statistics:</b>
<div>
<%= render :partial => "statistics_chart", :locals => {:variable => @variable, :var_hash => @var_hash, :no_var_hash => @no_var_hash, :total_entries => @total_entries, :invalid_entries => @invalid_entries, :blank_rows => @blank_rows, :value_domain_hash => @value_domain_hash, :valid_entries => @valid_entries} -%>
</div>
<div>
<%= render :partial => "values_table", :locals => {:variable => @variable, :var_hash => @var_hash, :no_var_hash => @no_var_hash, :total_entries => @total_entries, :invalid_entries => @invalid_entries, :blank_rows => @blank_rows, :value_domain_hash => @value_domain_hash, :valid_entries => @valid_entries} -%>
</div>
<%#=  render :partial=>"statistics_table", :locals => {:variable => @variable, :var_hash => @var_hash, :no_var_hash => @no_var_hash, :total_entries => @total_entries, :invalid_entries => @invalid_entries, :blank_rows => @blank_rows, :value_domain_hash => @value_domain_hash, :valid_entries => @valid_entries} -%>
		<div style="clear:both;">
			</div>

     <!-- TODO Style cleanup Including highlighting header line.-->
      <% unless @variable.updated_by.blank? %>
        <p><b>Metadata last updated by:
          <div class="box_standout">
            <%= link_to User.find(@variable.updated_by).person.name, person_path(User.find(@variable.updated_by).person) -%>
          </div>
        </p>
        <p><b>Reason:
          <% unless @variable.update_reason.blank? -%>
            <div class="box_standout">
              <%= @variable.update_reason -%>
            </div>
          <% end %>
        </p>
      <% end -%>
      <% if !@sorted_matches.empty? -%>
        <p>
          <div class="box_standout">
            <%= "Users who downloaded this variable also selected " -%>
            <ul>
              <% @sorted_matches.each do |match|-%>
                 <% linked_var = Variable.find(match.target_variable_id) -%>
                <li><%= link_to(linked_var.name + " from " + linked_var.dataset.name, variable_url(linked_var)) -%></li>
              <% end -%>
            </ul>
        </div>
      </p>
    <% end -%>
</div>

  <!-- </div> -->
<div class="left">
	<% if current_user %>
	<h3>Notes</h3>
	  <%= render :partial => "notes/add_note", :locals=>{:resource_id => @variable.id} -%>
			<% @notes.each do |note| %>
			<%= render :partial => "notes/note", :locals=>{:note=>note} %>
			<% end %>
			<div id="new_note">
				</div>
				<% end %>
</div>
<div class="right">
	<% if current_user %>
	<h3>Comments</h3>
	  <%= render :partial => "comments/add_comment", :locals=>{:resource_id => @variable.id, :controller => "Variables", :comment_div_id => "comment", :update_div_id => "new_comment"} -%>
			<% @comments.each do |comment| %>
			<%= render :partial => "comments/comment", :locals=>{:comment=>comment} %>
			<% end %>
			<div id="new_comment">
				</div>
				<% end %>
</div>
</div>
<% end -%>
