<% if SANDBOX -%>
<%= render :partial => "layouts/sandbox_warning_header" -%>
<% end -%>
<div style="clear:both;">
</div>
<% if controller.controller_name.downcase == "home" && controller.action_name.downcase == "search" -%>
<% if logged_in? && controller.controller_name.downcase == "home" && controller.action_name.downcase == "search"-%>
<%= render :partial => "layouts/simple_logged_in_controls" -%>
<% else -%>
<div class="left normal-margin-top">
<%= render :partial => "layouts/logged_out_controls" -%>
</div>
<% end -%>
<%= render :partial => "layouts/welcome_message" -%>
<% else -%>
<div class="left" style="margin-left: 1em; padding-top: 2px;">
<%= link_to image_tag("box_transparent_small.png",:alt=>"www.methodbox.org",:title=>"Methodbox"), root_url -%>
<% if logged_in? && controller.controller_name.downcase == "home" && controller.action_name.downcase == "search"-%>
<%= render :partial => "layouts/simple_logged_in_controls" -%>
<% elsif logged_in? -%>
<%= render :partial => "layouts/logged_in_controls" -%>
<% elsif controller.controller_name.downcase!= "home" -%>
<%= render :partial => "layouts/simple_logged_out_controls" -%>
<% else -%>
<div class="small-margin-bottom">
<%= render :partial => "layouts/logged_out_controls" -%>
<% end -%>
</div>
</div>
<%= render :partial => "layouts/header_search_bar" -%>
<% end -%>
<div style="clear:both;">
</div>
