<% if SANDBOX -%>
<%= render :partial => "layouts/sandbox_warning_header" -%>
<% end -%>
<div style="clear:both;">
</div>
<div class="left" style="margin-left: 1em; padding-top: 2px;">
<%= link_to image_tag("box_transparent_small.png",:alt=>"www.methodbox.org",:title=>"Methodbox"), root_url -%>
<% if logged_in? -%>
<%= render :partial => "layouts/logged_in_controls" -%>
<% else -%>
<div class="small-margin-bottom">
<%= render :partial => "layouts/logged_out_controls" -%>
</div>
<% end -%>
</div>
<%= render :partial => "layouts/add_this_toolbox" -%>
<% if controller.controller_name != "home" && controller.action_name != "search" -%>
  <%= render :partial => "layouts/header_search_bar" -%>
<% end -%>
<div style="clear:both;">
</div>
