<div class="sidebar-border">
	<ul>
		<%= render :partial => "layouts/atom_feed" %>
		<%= render :partial => "cart/all_buttons" -%>
<li>
<span id="browse-surveys-button" class="yui-button yui-link-button">
    <span class="first-child">
        <a href="<%= surveys_url %>" title="Look at the <%= SURVEY.downcase.pluralize %> using the tabular view and search them for variables">View <%= SURVEY.pluralize %></a>
    </span>
</span>
</li>
<%= render_sidebar -%>
</ul>


</div>
<div class="sidebar-border">
<div class="center small-padding-top">
Latest <%= DATASET.pluralize.downcase -%>
</div>
<div class="normal-padding-left">
<% datasets = Dataset.all(:order => "created_at DESC", :limit => 5) -%>
<ul>
<% datasets.each do |dataset| -%>
  <% if Authorization.is_authorized?("view", nil, dataset.survey, current_user) -%>
    <li class="square-list"><%= link_to dataset.name, dataset_url(dataset) ,{:title=>dataset.description} -%></li>
  <% end -%>
<% end -%>
</ul>
</div>
</div>

<script type="text/javascript">
var browseSurveysButton = new YAHOO.widget.Button("browse-surveys-button");
</script>


