<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= render :partial => "layouts/javascript_variables" -%>
<%= csrf_meta_tag %>
<% if YUI_LOCAL -%>
  <%= javascript_include_tag :defaults, 'yui.js', 'scriptaculous.js', 'redbox.js', 'autocompleter_advanced.js','tooltips.js', 'savage-beast/application.js','datatable_expander.js', 'variable_table_expander.js' -%>
  <%= stylesheet_link_tag 'yui', 'alphabetical_pagination', 'my_exp', 'gadgets', 'acts_as_taggable_stylesheet', 'styles', 'fast_auto_complete', 'redbox', 'autocompleter_advanced', 'savage_beast/forums', 'spiffy_corners', 'widget_tab_nav', 'main_layout_extras', :cache=>'css_cached' -%>
<% else -%>
<!-- load yui over the web for the moment -->
<!-- Combo-handled YUI CSS files: -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.9.0/build/reset-fonts-grids/reset-fonts-grids.css&2.9.0/build/base/base-min.css&2.9.0/build/assets/skins/sam/skin.css">
<!-- Combo-handled YUI JS files: -->
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.9.0/build/yahoo-dom-event/yahoo-dom-event.js&2.9.0/build/element/element-min.js&2.9.0/build/dragdrop/dragdrop-min.js&2.9.0/build/container/container-min.js&2.9.0/build/menu/menu-min.js&2.9.0/build/button/button-min.js&2.9.0/build/connection/connection_core-min.js&2.9.0/build/cookie/cookie-min.js&2.9.0/build/datasource/datasource-min.js&2.9.0/build/paginator/paginator-min.js&2.9.0/build/datatable/datatable-min.js&2.9.0/build/json/json-min.js&2.9.0/build/tabview/tabview-min.js"></script>
<%= javascript_include_tag :defaults, 'scriptaculous.js', 'redbox.js', 'autocompleter_advanced.js','tooltips.js', 'savage-beast/application.js','datatable_expander.js', 'variable_table_expander.js' -%>

<%= stylesheet_link_tag 'alphabetical_pagination', 'my_exp', 'gadgets', 'acts_as_taggable_stylesheet', 'styles', 'fast_auto_complete', 'redbox', 'autocompleter_advanced', 'savage_beast/forums', 'spiffy_corners', 'widget_tab_nav', 'main_layout_extras', :cache=>'css_cached' -%>
<% end -%>
<!--[if lte IE 6]>
<%= stylesheet_link_tag 'ie6_hacks'-%>
<![endif]-->
		<script type="text/javascript">
//<![CDATA[
			function show_ajax_loader(element) {
				$(element).innerHTML=<%= "'"+image_tag("ajax-loader.gif")+"'" -%> ;
			}
		//]]>
		</script>
<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23603432-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
<body style="background-color: white; min-width:1050px;">
<!-- sticky footer based on http://www.cssstickyfooter.com/using-sticky-footer-code.html -->
<div id="wrap">
<div id="main">
      <div id="doc3" class="yui-t2">
        <div>
          <%= render :partial=>"layouts/main_header" %>
        </div>
        <%= render :partial => "widgets/main_tabnav" %>
        <div id="bd">
          <div id="yui-main">
            <div class="yui-b">
<div id="spinner" style='display:none;'>
<%= image_tag("ajax-loader2.gif", :alt=>"working...", :title=>"working...", :height => '100', :width => '100') -%>
</div>
              <div id="main-area">
                <% if flash[:error] %>
                  <div id="error_flash" class="box_standout" style="color: red; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                    <%= link_to_function image_tag("close.gif", :style => "float: right;"), visual_effect(:toggle_slide, "error_flash", :duration => 0.3) %><%= white_list flash[:error] %>
                  </div>
                <% end %>
                <% if flash[:notice] %>
                  <div id="notice_flash" class="box_standout" style="color: green; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                    <%= link_to_function image_tag("close.gif", :style => "float: right;"), visual_effect(:toggle_slide, "notice_flash", :duration => 0.3) %><%= white_list flash[:notice] %>
                  </div>
                <% end %>
                <div class="yield-area">
                  <%= yield :layout %>
                </div>
              </div>	
            </div>
          </div>
          <div class="yui-b"><%= render :partial=>"layouts/sidebar" %></div>
        </div>
      </div>
</div>
</div>
<div id="footer">
    <div id="ft">
      <%= render :partial=>"layouts/footer" %>
    </div>
</div>
<%# NB! These javascript include should be here - otherwise folds / tabs will not be displayed on any pages. -%>
<%= javascript_include_tag "folds.js" %>
</body>
</html>
